<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/basicLayout}"
	>
	
	<head>
		<title>Bot list</title>
	</head>
	
	<body>
		<section layout:fragment="content">
			<vu:include-data object="bots" field="botId" />
			<vu:include-data object="bots" field="name" />
			<vu:include-data object="bots" field="creationDate" />
			
			<vu:cards list="bots" componentId="botCards" cardClass="botCard col-xl-3 col-md-4 col-xs-6"  sortUrl="@{/basemanagement/bases/_sort}" rowsPerPage="8" showMore="true" showMoreLabel="Show more" >
				<a th::href="|'@{/bot/}'+item.botId|" class="nav">
					<q-card-media>
						<img th::src="|'@{/bot/}'+item.botId+'/avatar'|"/>
					</q-card-media>
					<q-card-main class="row" >
						<div class="col ellipsis text-center" >
							<span class="text-primary small-caps text-bigger">{{item.name}}</span><br/>
							Born : {{item.creationDate}}<br/>
						</div>		
					</q-card-main>
				</a>
			</vu:cards>
		</section>
	</body>
</html>