<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/parentLayout}"
	>
	
	<head>
		<title>Intent detail</title>
	</head>
	
	<body>
		<section layout:fragment="page-container">
			<vu:form>
				<vu:messages/>
				
				<div>
					<vu:button-link th:if="${model.modeEdit}"  url="@{/intent/} + ${model.intent.intId}" :round size="lg" color="primary" icon="fas fa-ban" :flat ariaLabel="Cancel"   />
					<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" :round size="lg" color="primary" icon="edit" ariaLabel="Edit" />
				</div>
				<div>
					<vu:block title="Détail de l\'intent">
						<vu:text-field object="intent" field="title" />
					</vu:block>
					
					<vu:block title="Phrases d\'entrainement">
						<vu:include-data-primitive key="newIntentTrainingSentence" />
						<vu:include-data object="intentTrainingSentences" field="text" />
						
						<div th:if="${!model.modeReadOnly}">
							<q-input v-model="vueData.newIntentTrainingSentence" th:@keydown.enter.prevent="|httpPostAjax('@{_addTrainingSentence}', {'vContext[newIntentTrainingSentence]':vueData.newIntentTrainingSentence})|"
								placeholder="Ajouter une expression"
								:before="[{icon: 'format_quote'}]">
							</q-input>
						</div>
						<div>
							<div v-for="(intentTrainingSentence, index) in vueData.intentTrainingSentences.slice().reverse()">
								{{intentTrainingSentence.text}}
								<q-btn th:if="${!model.modeReadOnly}" th:@click="|httpPostAjax('@{_removeTrainingSentence}', {'index':vueData.intentTrainingSentences.length - 1 - index})|"
										color="primary" dense size="md" icon="delete" class="bg-grey" aria-label="Remove" title="Remove"></q-btn>
							</div>
						</div>
					</vu:block>
					
					<vu:block title="Small Talk">
						<div>
							<vu:include-data object="intent" field="isSmallTalk" />
							<q-toggle v-model="vueData.intent.isSmallTalk" disable />
						</div>
						
						<div v-if="vueData.intent.isSmallTalk">
							<vu:include-data-primitive key="newUtterText" />
							<vu:include-data object="utterTexts" field="text" />
						
							<div th:if="${!model.modeReadOnly}">
								<q-input v-model="vueData.newUtterText" th:@keydown.enter.prevent="|httpPostAjax('@{_addUtterText}', {'vContext[newUtterText]':vueData.newUtterText})|"
									placeholder="Ajouter une expression"
									:before="[{icon: 'format_quote'}]">
								</q-input>
							</div>
							<div>
								<div v-for="(utterTexts, index) in vueData.utterTexts.slice().reverse()">
									{{utterTexts.text}}
									<q-btn th:if="${!model.modeReadOnly}" th:@click="|httpPostAjax('@{_removeUtterText}', {'index':vueData.utterTexts.length - 1 - index})|"
											color="primary" dense size="md" icon="delete" class="bg-grey" aria-label="Remove" title="Remove"></q-btn>
								</div>
							</div>
						</div>
					</vu:block>
					
					<div>
						<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" />
						<vu:button-link th:if="${model.modeReadOnly}" url="@{/intents/}" label="Go to intents" size="lg" color="secondary" />
					</div>
				</div>
			</vu:form>
		</section>
	</body>
</html>