version: '3.5'

# docker-compose example file
#
# Passwords / API key can be, for example, generated locally with :
#   < /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c${1:-32};echo;



services:
  # apache:
    # image: httpd:latest
    # volumes:
      # - ./httpd.conf:/usr/local/apache2/conf/httpd.conf
    # ports:
      # - "127.0.0.1:8000:80"     
      
  postgres:
    image: postgres:12.1
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_PASSWORD: postgres
    volumes:
      - cf_postgres_data:/var/lib/postgresql/data/pgdata
      - ./initSql/:/docker-entrypoint-initdb.d/
      - ./restore/:/restore/
    ports:
      - "127.0.0.1:5433:5432" 
    networks:
      - cb_factory

  clamav:
    image: clamav/clamav
    ports:
      - "127.0.0.1:3310:3310"
    networks:
      - cb_factory

  postgresKC:
    image: postgres:12.1
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_PASSWORD: keycloak
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
    volumes:
      - cf_postgresKC_data:/var/lib/postgresql/data/pgdata
    ports:
      - "127.0.0.1:5434:5432" 
    networks:
      - cb_factory

  keycloak:
    image: bitnami/keycloak:24
    environment:
      KEYCLOAK_ADMIN_USER: admin
      KEYCLOAK_ADMIN_PASSWORD: changeme
      KEYCLOAK_DATABASE_HOST: postgresKC
      KEYCLOAK_DATABASE_PORT: 5432
      KEYCLOAK_DATABASE_NAME: keycloak
      KEYCLOAK_DATABASE_USER: keycloak
      KEYCLOAK_DATABASE_SCHEMA: public
      KEYCLOAK_DATABASE_PASSWORD: keycloak
    ports:
      - 8200:8080
    depends_on:
      - postgresKC
    networks: 
      - cb_factory
  
  influxdb:
    image: influxdb:2.7.1
    volumes:
      #- cf_influxdb_data:/var/lib/influxdb
      - cf_influxdb2_data:/var/lib/influxdb2
      - cf_influxdb2_config:/etc/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      #DOCKER_INFLUXDB_INIT_MODE: upgrade
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: changeme
      DOCKER_INFLUXDB_INIT_ORG: chatbot
      DOCKER_INFLUXDB_INIT_BUCKET: admin
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: influxDevToken
    ports: 
      - "127.0.0.1:8086:8086"
    networks:
      - cb_factory

  chronograph: # IHM de consultation influxDB
    image: chronograf:1.10-alpine
    volumes:
      - cf_chronograph_data:/var/lib/chronograf
    ports: 
      - "127.0.0.1:8888:8888"
    networks:
      - cb_factory

  analytica:
    image: vertigoio/vertigo-analytics-server:0.7
    environment:
      INFLUXDB_URL: http://influxdb:8086
      INFLUXDB_ORG: chatbot
      INFLUXDB_TOKEN: influxDevToken
    depends_on:
      - influxdb
    ports:
      - "4562:4562"
    networks:
      - cb_factory
  
  rasa:
    image: rasa/rasa:3.1.0-full
    ports:
      - 5005:5005
    command:
      - run
      - --enable-api
      - --cors
      - "*"
      
  
volumes:
  cf_postgres_data:
  cf_postgresKC_data:
  cf_influxdb_data:
  cf_influxdb2_data:
  cf_influxdb2_config:
  cf_rabbitmq_data:
  cf_chronograph_data:
    
networks:
  cb_factory:
  