<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=informations, noNavigation=${model.modeCreate}"
	>
	
	<head>
		<title>Intent detail</title>
	</head>
	
	<body>
		<div layout:fragment="content-header-left" id="baseImg">
	 		<img v-if="componentStates.uploaderbotTmpPictureUri && componentStates.uploaderbotTmpPictureUri.fileUris.length > 0" th::src="|'@{/commons/upload}?file=' + componentStates.uploaderbotTmpPictureUri.fileUris[0]|" class="detailImg gt-md" />
	 		<img v-if="!componentStates.uploaderbotTmpPictureUri || componentStates.uploaderbotTmpPictureUri.fileUris.length == 0" th:src="@{/bot/{id}/avatar(id=${model.bot.botId})}" class="detailImg gt-md" />
		</div>
	
		<section layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" url="@{/bot/{id}(id=${model.bot.botId})}" ariaLabel="Cancel" icon="fas fa-ban"
							class="on-left text-accent-inverted" :round size="lg" color="primary" :flat />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" ariaLabel="Edit" icon="edit"
							class="on-left" :round size="lg" color="primary" />
		</section>
		
		<section layout:fragment="content">
			
			<vu:block id="identity" title="Bot identity" th:if="${viewMode=='edit'}">
				<vu:text-field object="bot" field="name" />
				
				<vu:label-edit object="bot" field="filIdAvatar" >
					<vu:fileupload th:url="'@{/commons/upload}'" key="botTmpPictureUri" multiple="false"/>
				</vu:label-edit>
			</vu:block>
			
			<vu:block id="custom" title="Bot customization">
				<vu:text-field object="welcome" field="text" label="Welcome message"/>
				<vu:text-field object="default" field="text" label="Fallback message"/>
			</vu:block>
			
			<vu:block id="nodes" title="Nodes">
				<div>Coming soon !</div>
			</vu:block>
			
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" /> 
			</q-page-sticky>
			
		</section>
	</body>
</html>