<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=informations, noNavigation=${model.modeCreate}"
	>
	
	<head>
		<title>Bot detail</title>
		
		<script th:inline="javascript">
			function deleteNode() {
				VUiPage.$q.dialog({
			        title: 'Confirm',
			        message: 'Do you want to delete node ' + vueData.nodeEdit.name,
					ok: {
						label: "Delete",
						color: "red"
					},
					cancel: {
						label: "Cancel"
					}
			    }).onOk(() => {
			    	VUiPage.httpPostAjax('_deleteNode', {'nodId': vueData.nodeEdit.nodId}, {onSuccess: VUiPage.$refs.nodeEdit.hide})
			    })
			}
		</script>
	</head>
	
	<body>
		<div layout:fragment="content-header-left" id="baseImg">
	 		<img v-if="componentStates.uploaderbotTmpPictureUri && componentStates.uploaderbotTmpPictureUri.fileUris.length > 0" th::src="|'@{/commons/upload}?file=' + componentStates.uploaderbotTmpPictureUri.fileUris[0]|" class="detailImg" />
	 		<img v-if="!componentStates.uploaderbotTmpPictureUri || componentStates.uploaderbotTmpPictureUri.fileUris.length == 0" th:src="@{/bot/{id}/avatar(id=${model.bot.botId})}" class="detailImg" />
		</div>
	
		<section layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" url="@{/bot/{id}(id=${model.bot.botId})}" ariaLabel="Cancel" icon="fas fa-ban"
							class="on-left text-accent-inverted" :round size="lg" color="primary" :flat />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" ariaLabel="Edit" icon="edit"
							class="on-left" :round size="lg" color="primary" />
		</section>
		
		<section layout:fragment="content">
			
			<vu:block id="identity" title="Bot identity" th:if="${viewMode=='edit'}">
				<vu:text-field object="bot" field="name" />
				
				<vu:label-edit object="bot" field="filIdAvatar" >
					<vu:fileupload th:url="'@{/commons/upload}'" key="botTmpPictureUri" multiple="false"/>
				</vu:label-edit>
			</vu:block>
			
			<vu:block id="custom" title="Bot customization">
				<vu:text-area object="bot" field="description"/>
				
				<vu:text-field object="welcome" field="text" label="Welcome message"/>
				<vu:text-field object="default" field="text" label="Fallback message"/>
			</vu:block>
			
			<!--/* "delete vueData.nodeEdit.__index" ne sera plus nécessaire avec Vertigo 3.0 */-->
			
			<vu:include-data object="nodeNew" field="name" />
			<vu:include-data object="nodeNew" field="url" />
			<vu:include-data object="nodeNew" field="color" />
			<vu:include-data object="nodeNew" field="isDev" />
			
			<vu:table th:if="${model.modeReadOnly}" id="nodes" list="nodeList" title="Nodes" componentId="nodeList" rowsPerPage="10" autoColClass
					  tr_@click.native="|vueData.nodeEdit = Vue.util.extend({},props.row); delete vueData.nodeEdit.__index; $refs.nodeEdit.show()|" tr_class="nav">
				<vu:slot name="top_right_slot">
					<q-btn class="fab-block" round color="primary" icon="add" aria-label="Add" title="Add" 
					       @click="vueData.nodeEdit = Vue.util.extend({}, vueData.nodeNew); delete vueData.nodeEdit.__index; $refs.nodeEdit.show()"></q-btn>
				</vu:slot>
				
				<vu:include-data object="nodeList" field="nodId" />
				<vu:include-data object="nodeList" field="color" />
				<vu:include-data object="nodeList" field="apiKey" />
				
				<vu:column field="isDev" label="" class="col_Small">
					<q-icon name="build" size="2rem" v-if="props.row.isDev"></q-icon>
				</vu:column>
				<vu:column field="name" label="Node">
					<q-chip :style="'background: '+ props.row.color" text-color="white">
						{{props.row.name}}
					</q-chip>
				</vu:column>
				<vu:column field="url"/>
				<vu:column name="stat" label="Statistics" class="col_Small">
					<vu:button-link dense url="@{/analytics/(botId=${model.bot.botId})} + '&nodId=\'+props.row.nodId+\'' " label="" icon="insert_chart_outlined"
							class="bg-secondary" @click.stop="null"/>

				</vu:column>
			</vu:table>
			
			<q-dialog ref="nodeEdit" th:with="viewMode='edit'" @hide="delete uiMessageStack.objectFieldErrors.nodeEdit">
				<q-card>
					<q-card-section>
						<div class="text-h6">Node edition</div>
					</q-card-section>
					
					<q-card-section style="height: 350px; width: 400px;">
						<vu:text-field object="nodeEdit" field="name"/>
						
						<vu:text-field object="nodeEdit" field="url"/>
						
						<vu:text-field object="nodeEdit" field="apiKey"/>
						
						<q-btn push :style="'background: '+ vueData.nodeEdit.color" class="q-my-sm" text-color="white" label="Color">
							<q-popup-proxy ref="colorPopup" width="1000">
								<q-color
									v-model="vueData.nodeEdit.color"
									no-header
									no-footer
									default-view="palette"
									@change="$refs.colorPopup.hide()"
									:palette="[
											'#7e57c2', '#ab47bc', '#b2028a', '#6a1b9a', '#283593',
											'#1565c0', '#00838f', '#00695c', '#2e7d32', '#9e9d24',
											'#9ccc65', '#f9a825', '#ef6c00', '#d84315', '#ef5350',
											'#c62828', '#795548', '#5d4037', '#546e7a', '#424242'
										]"></q-color>
							</q-popup-proxy>
						</q-btn>
						
						<p>
							<q-toggle label="Use this node for training" v-model="vueData.nodeEdit.isDev" ></q-toggle>
						</p>
					</q-card-section>
				
					<q-card-actions align="around">
						<q-btn v-if="vueData.nodeEdit.nodId" label="Delete" color="red" @click="deleteNode" ></q-btn>
						<q-btn label="Save" color="primary" @click="httpPostAjax('_saveNode', vueDataParams(['nodeEdit']), {onSuccess: $refs.nodeEdit.hide})" ></q-btn>
					</q-card-actions>
				</q-card>
			</q-dialog>
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" /> 
			</q-page-sticky>
		</section>
		
	</body>
</html>