<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:vu="http://www.morphbit.com/thymeleaf/component"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{templates/botDetailLayout}" th:with="tab=context"
>

<head>
    <title th:text="#{context.title}"></title>
    <script th:inline="javascript">
        VUiExtensions.methods = {
            ...VUiExtensions.methods,

            getOperatorLabel: function(tyopCd) {
                let operator = VertigoUi.vueData.typeOperators.find(operator => operator.tyopCd === tyopCd);
                if (operator !== undefined) {
                    return VertigoUi.vueData.locale === 'fr_FR' ? operator.labelFr : operator.label;
                } else {
                    return tyopCd;
                }
              },

            saveContextEnvironment: function() {
                VUiPage.httpPostAjax("_saveContextEnvironment", {
                    'cenvIdOpt': VertigoUi.vueData.newContextEnvironment.cenvId,
                    'label': VertigoUi.vueData.newContextEnvironment.label
                });
            },

            saveContextEnvironmentValue: function() {
                VUiPage.httpPostAjax("_saveContextEnvironmentValue", VUiPage.vueDataParams(['newContextEnvironmentValue']));
            },

            filteredOptions: function() {
                var options =  VertigoUi.vueData.contextPossibleValues.filter(possibleValue =>
                    possibleValue.cvaId === VertigoUi.vueData.newContextEnvironmentValue.cvaId);
                other = VertigoUi.vueData.locale === 'fr_FR' ? 'Autre' : 'Other';
                options.push({ tyopCd: other, value: ''});
                return options
            },

            updateEnvironmentValue: function(possibleValue) {
                if (possibleValue.tyopCd === "Autre" || possibleValue.tyopCd === "Other"){
                    this.dataX.isOther = true;
                }else {
                    VertigoUi.vueData.newContextEnvironmentValue.value = possibleValue.value;
                    VertigoUi.vueData.newContextEnvironmentValue.tyopCd = possibleValue.tyopCd;
                }
            }
        };

        VUiExtensions.dataX.selectedOption = null;
        VUiExtensions.dataX.isOther = false;
    </script>
</head>

<body>
<section layout:fragment="content-actions">
    <vu:button-link th:if="${model.userAuthorizations[AtzChatbot$botAdm]}"
                    th:title="#{context.add}"
                    url="@{/bot/{id}/contextValue/new(id=${model.bot.botId})}" icon="add"
                    class="on-left" round size="md" color="primary"/>

</section>

<section layout:fragment="content">
    <vu:popup-ajax action="_deleteContextEnvironment" vModel="showDeleteContextEnvironmentPopup"
                   th:message="#{context.environment.delete.popup}"
                   th:confirm="#{action.delete}" dataName="cenvId"></vu:popup-ajax>

    <div class="text-h6 text-weight-bold" style="display: flex; align-items: center">
        <span class="text-primary" style="flex-grow: 2">[[#{layout.context}]]</span>
        <q-icon name="help_outlined" size="2rem"/>
        <q-tooltip content-class="q-tooltip-text">[[#{context.tooltip}]]</q-tooltip>
    </div>

    <vu:table list="contextValues" componentId="contextValueList"
              tr_@click.native="|goTo('@{/bot/{id}/contextValue/(id=${model.bot.botId})}'+props.row.cvaId)|"
              tr_style="cursor : pointer;"
              sortBy="label" :binary-state-sort="true">
        <vu:include-data object="contextValues" field="cvaId"/>
        <vu:include-data object="contextValues" field="label"/>
        <vu:include-data object="contextValues" field="xpath"/>
        <vu:include-data-primitive key="locale"/>
        <vu:column field="label">
            <a th::href="|'@{/bot/{id}/contextValue/(id=${model.bot.botId})}'+props.row.cvaId|"
               style="display:block; height:100%; width:100%; text-decoration:none; color:black;"
            >
                <span style="height:100%" class="row items-center">{{props.row.label}}</span>
            </a>
        </vu:column>
        <vu:column field="xpath"/>
    </vu:table>
    <vu:include-data object="contextEnvironments" field="'*'"/>
    <div class="text-h6 text-weight-bold" style="display: flex; align-items: center; margin-top: 2rem;">
        <span class="text-primary" style="flex-grow: 2">[[#{context.environment.title}]]</span>
        <q-btn th:if="${model.modeReadOnly && model.userAuthorizations[AtzChatbot$botContributor]}"
               color="primary" round icon="add" th:aria-label="#{context.environment.add}"
               th:title="#{context.environment.add}"
               @click="vueData.newContextEnvironment.cenvId = null;
                       vueData.newContextEnvironment.botId = vueData.bot.botId;
                       vueData.newContextEnvironment.label = null;
     					$refs.environmentDialog.show()">
        </q-btn>
    </div>
    <div class="col-12" v-if="vueData.contextEnvironments.length > 0">
        <q-list bordered class="rounded-borders">
            <q-expansion-item v-for="(contextEnvironment, index) in vueData.contextEnvironments"
                              expand-separator icon="source">
                <template v-slot:header>
                    <q-item-section avatar>
                        <q-avatar icon="source" color="primary" text-color="white"/>
                    </q-item-section>

                    <q-item-section>
                        {{contextEnvironment.label}}
                    </q-item-section>

                    <q-item-section side>
                        <div class="flex">
                            <q-btn th:if="${model.modeReadOnly && model.userAuthorizations[AtzChatbot$botContributor]}"
                                   th:ariaLabel="#{action.save}" th:title="#{action.save}" icon="edit"
                                   class="on-left" round size="md" color="primary"
                                   @click="vueData.newContextEnvironment.cenvId = contextEnvironment.cenvId;
													vueData.newContextEnvironment.botId = contextEnvironment.botId;
													vueData.newContextEnvironment.label = contextEnvironment.label;
													$refs.environmentDialog.show()"></q-btn>
                            <q-btn th:if="${model.modeReadOnly && model.userAuthorizations[AtzChatbot$botContributor]}"
                                   th:ariaLabel="#{action.delete}" th:title="#{action.delete}" icon="delete"
                                   class="on-left" round size="md" color="red"
                                   @click="componentStates.cenvId = contextEnvironment.cenvId; componentStates.showDeleteContextEnvironmentPopup.shown = true"></q-btn>
                        </div>
                    </q-item-section>
                </template>
                <q-card>
                    <q-card-section>
                        <div class="q-pa-md">
                            <q-list bordered separator >
                                <q-item th::clickable="${model.userAuthorizations[AtzChatbot$botContributor]}"
                                        v-for="contextEnvironmentValue in contextEnvironment.contextEnvironmentValues"
                                        @click="vueData.newContextEnvironmentValue.cenvalId = contextEnvironmentValue.cenvalId;
						   vueData.newContextEnvironmentValue.cvaId = contextEnvironmentValue.cvaId;
						   vueData.newContextEnvironmentValue.value = contextEnvironmentValue.value;
						   vueData.newContextEnvironmentValue.tyopCd = contextEnvironmentValue.tyopCd;
						   vueData.newContextEnvironmentValue.cenvId = contextEnvironment.cenvId
						   this.dataX.selectedOption = null;
						   this.dataX.isOther = false;
							$refs.environmentContextValueDialog.show()">
                                    <q-item-section>
                                        <q-item-label>{{contextEnvironmentValue.label}}</q-item-label>
                                    </q-item-section>
                                    <q-item-section v-if="contextEnvironmentValue.value !== null && contextEnvironmentValue.tyopCd !== null">
                                        <span v-html="getOperatorLabel(contextEnvironmentValue.tyopCd) + ' : ' + contextEnvironmentValue.value"></span>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </div>
                    </q-card-section>
                </q-card>
            </q-expansion-item>
        </q-list>
    </div>
    <th:block th:with="viewMode='edit'">
        <q-dialog ref="environmentDialog">
            <vu:include-data object="newContextEnvironment" field="cenvId" modifiable="true"/>
            <vu:include-data object="newContextEnvironment" field="botId" modifiable="true"/>
            <vu:include-data object="newContextEnvironment" field="label" modifiable="true"/>
            <q-card>
                <q-card-section>
                    <div class="text-h6">
                        <span v-if="vueData.newContextEnvironment.cenvId !== null"
                              th:text="#{context.environment.update}"></span>
                        <span v-else th:text="#{context.environment.add}"></span>
                    </div>
                </q-card-section>
                <q-card-section>
                    <input type="hidden" v-model="vueData.newContextEnvironment.cenvId"
                           name="vContext[newContextEnvironment][cenvId]">
                    <input type="hidden" v-model="vueData.newContextEnvironment.botId"
                           name="vContext[newContextEnvironment][botId]">
                    <vu:text-field object="newContextEnvironment" field="label"/>
                </q-card-section>
                <q-card-actions align="around">
                    <q-btn th:label="#{action.cancel}" color="red" v-close-popup></q-btn>
                    <q-btn th:title="#{action.save}" th:label="#{action.save}" th:aria-label="#{action.save}"
                           @click="saveContextEnvironment()"
                           color="primary" v-close-popup></q-btn>
                </q-card-actions>
            </q-card>
        </q-dialog>
        <q-dialog ref="environmentContextValueDialog">
            <vu:include-data object="newContextEnvironmentValue" field="cenvalId" modifiable="true"/>
            <vu:include-data object="newContextEnvironmentValue" field="cvaId" modifiable="true"/>
            <vu:include-data object="newContextEnvironmentValue" field="value" modifiable="true"/>
            <vu:include-data object="newContextEnvironmentValue" field="tyopCd" modifiable="true"/>
            <vu:include-data object="newContextEnvironmentValue" field="cenvId" modifiable="true"/>
            <vu:include-data object="contextPossibleValues" field="*"/>
            <vu:include-data object="typeOperators" field="*"/>
            <q-card>
                <q-card-section>
                    <div class="text-h6">
                        <span th:text="#{context.environment.value.update}"></span>
                    </div>
                </q-card-section>
                <q-card-section v-if="filteredOptions().length > 1 && this.dataX.isOther === false" >
                    <q-select v-model="this.dataX.selectedOption"
                              th:label="#{context.environmentValue.popup.valueOperator}"
                              :options="filteredOptions()"
                              option-label="value"
                              @update:model-value="updateEnvironmentValue">
                    </q-select>
                </q-card-section>
                <q-card-section v-else>
                    <vu:grid cols="2">
                        <q-select th:label="#{context.environmentValue.popup.operator}"
                                  v-model="vueData.newContextEnvironmentValue.tyopCd"
                                  :options="vueData.locale == 'fr_FR' ? transformListForSelection('typeOperators', 'tyopCd', 'labelFr') : transformListForSelection('typeOperators', 'tyopCd', 'label')"
                                  map-options
                                  emit-value>
                        </q-select>
                        <q-input th:label="#{context.environmentValue.popup.value}"
                                 v-model="vueData.newContextEnvironmentValue.value"
                                 name="vContext[newContextEnvironmentValue][value]"/>
                    </vu:grid>
                </q-card-section>
                <q-card-actions align="around">
                    <q-btn th:label="#{action.cancel}" color="red" v-close-popup></q-btn>
                    <q-btn th:title="#{action.save}" th:label="#{action.save}" th:aria-label="#{action.save}"
                           @click="saveContextEnvironmentValue()"
                           color="primary" v-close-popup></q-btn>
                </q-card-actions>
            </q-card>
        </q-dialog>
    </th:block>
</section>
</body>
</html>