<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="nav=true, tab=context"
	>

	
	<head>
		<title th:text="#{contextvalue.title}"></title>
		<script>
			function getOperatorLabel(tyopCd) {
				let operator = VertigoUi.vueData.typeOperators.find(operator => operator.tyopCd === tyopCd);
				if (operator !== undefined) {
					return VertigoUi.vueData.locale === 'fr_FR' ? operator.labelFr : operator.label;
				} else {
					return operator;
				}
			}
		</script>
	</head>
	
	<body>
		<section layout:fragment="content-actions">
			<vu:button-link th:if="${model.modeEdit}" url="@{/bot/{id}/contextValue/(id=${model.bot.botId})} + ${model.contextValue.cvaId}" ariaLabel="Cancel" icon="fas fa-ban"
							class="on-left text-accent-inverted" :round size="md" color="primary" :flat />
			<vu:button-submit th:if="${model.modeReadOnly && model.contextValue.label != 'url' && model.userAuthorizations[AtzChatbot$botContributor]}" action="@{_edit}" th:ariaLabel="#{action.edit}" icon="edit"
							class="on-left" :round size="md" color="primary" />
			<q-btn th:if="${model.modeReadOnly && model.contextValue.label != 'url' && model.userAuthorizations[AtzChatbot$botContributor]}" @click="componentStates.showPopupDeleteContextValue = true" th:ariaLabel="#{action.delete}" th:title="#{action.delete}" icon="delete"
							class="on-left" round size="md" color="red" ></q-btn>
		</section>
				
		<section layout:fragment="content">
			<vu:popup action="_deleteContextValue" vModel="showPopupDeleteContextValue" message="#{contextValue.popup.delete.message}" confirm="#{action.confirm}"></vu:popup>
			<vu:popup-ajax action="_deleteContextPossibleValue" vModel="showPopupDeleteContextPossibleValue" dataName="cpvId"
						   message="#{possibleValue.popup.delete.message}" confirm="#{action.confirm}"></vu:popup-ajax>
			<vu:block id="detail" title="Informations">
				<vu:grid cols="2">
					<vu:text-field object="contextValue" field="label" />
					<vu:text-field object="contextValue" field="xpath" />
				</vu:grid>
			</vu:block>
			<div class="text-h6 text-weight-bold" style="display: flex; align-items: center; margin-top: 2rem;">
				<span class="text-primary" style="flex-grow: 2">[[#{possibleValue.list.title}]]</span>
				<q-btn th:if="${model.userAuthorizations[AtzChatbot$botContributor]}" v-if="vueData.contextValue.cvaId !== null"
					   color="primary" round icon="add" th:aria-label="#{action.add}" th:title="#{action.add}"
					   @click="vueData.newContextPossibleValue.value = null;
						   vueData.newContextPossibleValue.tyopCd = null;
						   vueData.newContextPossibleValue.cvaId = vueData.contextValue.cvaId;
						   vueData.newContextPossibleValue.botId = vueData.contextValue.botId;
						   vueData.newContextPossibleValue.cpvId = null;
						   $refs.possibleValueDialog.show()">
				</q-btn>
			</div>
			<vu:include-data object="contextValue" field="cvaId" modifiable="true"/>
			<vu:include-data object="contextValue" field="botId" modifiable="true"/>
			<vu:include-data object="contextPossibleValueList" field="*"/>
			<vu:include-data object="typeOperators" field="*"/>
			<vu:include-data object="newContextPossibleValue" field="value" modifiable="true"/>
			<vu:include-data object="newContextPossibleValue" field="tyopCd" modifiable="true"/>
			<vu:include-data object="newContextPossibleValue" field="cpvId" modifiable="true"/>
			<vu:include-data object="newContextPossibleValue" field="cvaId" modifiable="true"/>
			<vu:include-data object="newContextPossibleValue" field="botId" modifiable="true"/>
			<vu:include-data-primitive key="locale"/>
			<vu:table list="contextPossibleValueList" componentId="possibleValueList"
					  rowsPerPage="10" autoColClass >
				<vu:slot name="actions_slot" th:if="${model.userAuthorizations[AtzChatbot$botAdm]}">
					<q-btn class="on-right" round color="primary" icon="edit" th:aria-label="#{action.edit}" th:title="#{action.edit}"
						   @click="vueData.newContextPossibleValue.value = props.row.value;
						   vueData.newContextPossibleValue.tyopCd = props.row.tyopCd;
						   vueData.newContextPossibleValue.cvaId = props.row.cvaId;
						   vueData.newContextPossibleValue.cpvId = props.row.cpvId;
						   vueData.newContextPossibleValue.botId = props.row.botId;
						   $refs.possibleValueDialog.show()"></q-btn>
					<q-btn class="on-right" round color="red" icon="delete" th:aria-label="#{action.delete}" th:title="#{action.delete}"
						   @click="componentStates.cpvId = props.row.cpvId; componentStates.showPopupDeleteContextPossibleValue = true"></q-btn>
				</vu:slot>
				<vu:column field="value"/>
				<vu:column field="tyopCd">
					<vu:content>
						<span v-html="getOperatorLabel(props.row.tyopCd)"></span>
					</vu:content>
				</vu:column>
			</vu:table>

			<q-dialog ref="possibleValueDialog">
				<q-card style="width: 400px;">
					<q-card-section>
						<div class="text-h6">
							<span v-if="vueData.newContextPossibleValue.cpvId !== null" th:text="#{possibleValue.update.popup.title}"></span>
							<span v-else th:text="#{possibleValue.add.popup.title}"></span>
						</div>
					</q-card-section>
					<q-card-section>
					<vu:grid cols="2">
						<q-select th:label="#{possibleValue.popup.operator}"
								  v-model="vueData.newContextPossibleValue.tyopCd"
								  :options="vueData.locale == 'fr_FR' ? transformListForSelection('typeOperators', 'tyopCd', 'labelFr') : transformListForSelection('typeOperators', 'tyopCd', 'label')"
								  map-options
								  emit-value>
						</q-select>
						<q-input v-model="vueData.newContextPossibleValue.value" th:label="#{possibleValue.popup.value}"
								 name="vContext[newContextPossibleValue][value]" :error="hasFieldsError('newContextPossibleValue', 'value')"
								 :error-message="getErrorMessage('newContextPossibleValue', 'project')"/>
					</vu:grid>
					</q-card-section>
					<q-card-actions align="around">
						<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
						<q-btn th:label="#{action.cancel}" color="red" v-close-popup></q-btn>
						<q-btn th:title="#{action.save}" th:label="#{action.save}" th:aria-label="#{action.save}"
							   @click="httpPostAjax('_saveContextPossibleValue', vueDataParams(['newContextPossibleValue']));"
							   color="primary" v-close-popup></q-btn>
					</q-card-actions>
				</q-card>
			</q-dialog>


			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" label="#{action.save}" action="@{_save}" size="lg" color="primary" /> 
			</q-page-sticky>
			<section>
	</body>
</html>