<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:vu="http://www.morphbit.com/thymeleaf/component"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/botDetailLayout}" th:with="nav=true, tab=documents"
>
<head>
    <title th:text="#{documentaryResource.title}"></title>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script th:src="@{/static/js/c-richtext.js}"></script>
    <script th:src="@{/static/js/c-emojipicker.js}"></script>
    <script th:inline="javascript">

        VUiExtensions.dataX.attachmentError = {'show': false, 'message': ''};

        VUiExtensions.methods = {
            ...VUiExtensions.methods,

            onStart: function() {
                VUiExtensions.dataX.attachmentError = {'show': false, 'message': ''};
            },

            isImage: function(type) {
                return type.includes('image');
            },

            onContextChange: function(cvaId) {
                this.filterContextPossibleValues(cvaId);
                VertigoUi.vueData.newDocumentaryResourceContext.cpvId = null;
            },

            filterContextPossibleValues: function(cvaId) {
                if (cvaId) {
                    VertigoUi.vueData.filteredContextPossibleValueList = VertigoUi.vueData.contextPossibleValueList.filter(contextPossibleValue => contextPossibleValue.cvaId === cvaId);
                }
            }
        }

        function onRejected (rejectedEntries) {
            let message = VertigoUi.vueData.locale === 'fr_FR' ? 'Le fichier ' + rejectedEntries[0].file.name + ' a été rejeté.'
                : 'File ' + rejectedEntries[0].file.name + ' was rejected.';
            if (rejectedEntries[0].failedPropValidation === 'accept') {
                message += VertigoUi.vueData.locale === 'fr_FR' ? ' Le format du fichier n\'est pas accepté' : ' File format isn\'t accepted';
            }
            VUiExtensions.dataX.attachmentError = {'show': true, 'message': message};
        }

    </script>
</head>
<body>
<section layout:fragment="content-actions">
   <vu:button-link th:if="${model.modeEdit}" url="@{/bot/{id}/document/(id=${model.bot.botId})} + ${model.documentaryResource.dreId}" title="Cancel" icon="fas fa-ban"
                    class="on-left text-accent-inverted" :round size="md" color="primary" :flat />
    <vu:button-submit th:if="${model.modeReadOnly && model.userAuthorizations[AtzChatbot$botAdm]}" action="@{_edit}" title="Edit" icon="edit"
                      class="on-left" :round size="md" color="primary" />
    <q-btn th:if="${model.modeReadOnly && model.userAuthorizations[AtzChatbot$botAdm]}" @click="componentStates.showDeleteDocumentaryResourcePopup.shown = true" th:ariaLabel="#{action.delete}" th:title="#{action.delete}" icon="delete"
           class="on-left" round size="md" color="red" ></q-btn>
</section>

<section layout:fragment="content">
    <vu:popup action="_delete" vModel="showDeleteDocumentaryResourcePopup" message="#{documentaryResource.popup.message}" confirm="#{action.delete}"></vu:popup>
    <vu:popup-ajax action="_deleteDocumentaryResourceContext" vModel="showPopupDeleteDocumentaryResourceContext" dataName="drcId"
                   message="#{context.delete.popup.title}" confirm="#{action.delete}">
    </vu:popup-ajax>
    <vu:block id="detail" title="Informations">
        <vu:grid cols="2">
            <vu:text-field object="documentaryResource" field="title" />
            <vu:text-field object="documentaryResource" field="description"/>
        </vu:grid>
    </vu:block>
    <div>
        <vu:include-data-primitive key="locale"/>
        <vu:include-data object="documentaryResource" field="dreTypeCd" modifiable="true"/>
        <vu:include-data object="documentaryResource" field="url" modifiable="true"/>
        <vu:include-data object="documentaryResource" field="*"/>
        <vu:include-data object="documentaryResourceContextIhmList" field="*"/>
        <vu:include-data object="documentaryResourceTypeList" field="*"/>
        <vu:include-data object="filteredContextPossibleValueList" field="*"/>
        <vu:include-data object="contextPossibleValueList" field="*"/>
        <vu:include-data object="contextValueList" field="*"/>
        <vu:include-data object="newDocumentaryResourceContext" field="drcId" modifiable="true"/>
        <vu:include-data object="newDocumentaryResourceContext" field="cvaId" modifiable="true"/>
        <vu:include-data object="newDocumentaryResourceContext" field="cpvId" modifiable="true"/>
        <vu:include-data object="newDocumentaryResourceContext" field="dreId" modifiable="true"/>
        <q-btn-toggle
                v-model="vueData.documentaryResource.dreTypeCd"
                name="vContext[documentaryResource][dreTypeCd]"
                toggle-color="primary"
                :options="vueData.locale == 'fr_FR' ? transformListForSelection('documentaryResourceTypeList', 'dreTypeCd', 'labelFr') : transformListForSelection('documentaryResourceTypeList', 'dreTypeCd', 'label')"
                th::disable="${model.modeReadOnly}"
        />
    </div>
    <vu:block id="url" th:title="#{documentaryResource.url}" v-if="vueData.documentaryResource.dreTypeCd === 'URL'">
        <q-input
                v-model="vueData.documentaryResource.url"
                name="vContext[documentaryResource][url]"
                th::disable="${model.modeReadOnly}">
        </q-input>
    </vu:block>

    <vu:block id="file" th:title="#{documentaryResource.file}" v-if="vueData.documentaryResource.dreTypeCd === 'FILE'">
        <vu:include-data-primitive key="importAttachmentFileUri" modifiable="true"/>
        <vu:include-data object="attachment" field="label" modifiable="true"/>
        <vu:include-data object="attachment" field="type" modifiable="true"/>
        <vu:include-data object="attachment" field="attFiId" modifiable="true"/>

        <vu:grid col="2s">
            <vu:text-field object="attachment" field="label"/>
            <div th:if="${model.modeReadOnly}" style="display: flex; flex-direction: column">
                <label style="color:#959595" th:text="#{attachment.preview}"></label>
                <img v-if="isImage(vueData.attachment.type)" th::src="|'@{/commons/getAttachment}?attFiId=' + vueData.attachment.attFiId|" class="detailImg" />
                <a v-else th::href="|'@{/commons/getAttachment}?attFiId=' + vueData.attachment.attFiId|" target="_blank"><q-icon name="attachment" size="2.5rem"></q-icon></a>
            </div>
        </vu:grid>
        <vu:fileupload th:url="'@{/commons/upload}'" key="importAttachmentFileUri" th:if="${!model.modeReadOnly}" multiple="false" accept="'.png,.jpg,.jpeg,.pdf,.pptx,.csv,.docx,.xlsx'"
                       @rejected="function (event) { onRejected(event) }" @start="onStart()"/>
        <div v-if="dataX.attachmentError.show" style="background-color: #db2828; margin: 10px; color: white; padding: 10px">{{dataX.attachmentError.message}}</div>
    </vu:block>
    <div th:v-if="vueData.documentaryResource.dreId != null" class="text-h6 text-weight-bold" style="display: flex; align-items: center; margin-top: 2rem;">
        <span class="text-primary" style="flex-grow: 2">[[#{documentaryResource.context.table.title}]]</span>
        <q-btn th:if="${model.userAuthorizations[AtzChatbot$botContributor]}"
               color="primary" round icon="add" th:aria-label="#{action.add}" th:title="#{action.add}"
               @click="vueData.newDocumentaryResourceContext.drcId = null;
               vueData.newDocumentaryResourceContext.dreId = vueData.documentaryResource.dreId;
               vueData.newDocumentaryResourceContext.cvaId = null;
               vueData.newDocumentaryResourceContext.cpvId = null;
               $refs.newContextDialog.show()">
        </q-btn>
    </div>
    <vu:table th:v-if="vueData.documentaryResource.dreId != null" list="documentaryResourceContextIhmList" componentId="contextTable">
        <vu:slot name="actions_slot" th:if="${model.userAuthorizations[AtzChatbot$botContributor]}">
            <q-btn class="on-right" round color="primary" icon="edit" th:aria-label="#{action.edit}" th:title="#{action.edit}"
                   @click="vueData.newDocumentaryResourceContext.drcId = props.row.drcId;
                        vueData.newDocumentaryResourceContext.dreId = props.row.dreId;
                        vueData.newDocumentaryResourceContext.cvaId = props.row.cvaId;
                        vueData.newDocumentaryResourceContext.cpvId = props.row.cpvId;
                        filterContextPossibleValues(props.row.cvaId);
                        $refs.newContextDialog.show()"></q-btn>
            <q-btn class="on-right" round color="red" icon="delete" th:aria-label="#{action.delete}" th:title="#{action.delete}"
                   @click="componentStates.drcId = props.row.drcId; componentStates.showPopupDeleteDocumentaryResourceContext.shown = true"></q-btn>
        </vu:slot>
        <vu:column field="cvaLabel"/>
        <vu:column field="cpvValue"/>
    </vu:table>

    <q-dialog ref="newContextDialog">
        <q-card style="width: 400px;">
            <q-card-section>
                <div class="text-h6" style="text-align: center">
                    <span v-if="vueData.newDocumentaryResourceContext.drcId != null" th:text="#{context.update.popup.title}"></span>
                    <span v-else th:text="#{context.add.popup.title}"></span>
                </div>
            </q-card-section>
            <q-card-section style="display: flex">
                    <q-select th:label="#{documentaryResource.context}"
                              v-model="vueData.newDocumentaryResourceContext.cvaId"
                              :options="vueData.contextValueList"
                              option-value="cvaId"
                              option-label="label"
                              map-options
                              emit-value
                              style="flex:1; margin-right:4px"
                              @update:model-value="onContextChange">
                    </q-select>
                    <q-select
                            v-if="vueData.newDocumentaryResourceContext.cvaId != null && vueData.filteredContextPossibleValueList.length > 0"
                            th:label="#{documentaryResource.contextValue}"
                            v-model="vueData.newDocumentaryResourceContext.cpvId"
                            :options="[{ cpvId: null, value: '' }, ...vueData.filteredContextPossibleValueList]"
                            option-value="cpvId"
                            option-label="value"
                            map-options
                            style="flex:1; margin-left:4px"
                            emit-value>
                    </q-select>
            </q-card-section>
            <q-card-actions align="around">
                <input type="hidden" name="CTX" :value="getContextValue()">
                <q-btn th:label="#{action.cancel}" color="red" v-close-popup></q-btn>
                <q-btn th:title="#{action.save}" th:label="#{action.save}" th:aria-label="#{action.save}"
                       @click="httpPostAjax('_saveDocumentaryResourceContext', vueDataParams(['newDocumentaryResourceContext']));"
                       color="primary" v-close-popup></q-btn>
            </q-card-actions>
        </q-card>
    </q-dialog>
    <q-page-sticky position="bottom-right">
        <vu:button-submit th:if="${!model.modeReadOnly}" icon="save" th:label="#{action.save}" action="@{_save}" size="lg" color="primary" />
    </q-page-sticky>
</section>
</body>
</html>