<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="nav=true, tab=smallTalks"
	>
	
	<head>
		<title>Intent detail</title>
	</head>
	
	<body>
		<section layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" url="@{/bot/{id}/intent/(id=${model.bot.botId})} + ${model.intent.intId}" ariaLabel="Cancel" icon="fas fa-ban"
							class="on-left text-tertiary-inverted" :round size="lg" color="primary" :flat />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" ariaLabel="Edit" icon="edit"
							class="on-left" :round size="lg" color="primary" />
		</section>
		
		<section layout:fragment="content-nav">
			<q-item tag="a" href="#detail">Informations</q-item>
			<q-item tag="a" href="#training">Training sentences</q-item>
			<q-item tag="a" href="#answers">Answers</q-item>
		</section>
		
		<section layout:fragment="content">
			
			<vu:block id="detail" title="Informations">
				<vu:text-field object="intent" field="title" />
				
				<vu:label object="intent" field="isEnabled">
					<vu:include-data object="intent" field="isEnabled" />
					<q-input v-model="vueData.intent.isEnabled" name="vContext[intent][isEnabled]" class="hidden" ></q-input>
					
					<q-toggle v-model="vueData.intent.isEnabled" th::disable="${model.modeReadOnly}"></q-toggle>
				</vu:label>
			</vu:block>
			
			<vu:block id="training" title="Training sentences">
				<vu:include-data-primitive key="newIntentTrainingSentence" />
				<vu:include-data object="intentTrainingSentences" field="text" />
				
				<div th:if="${!model.modeReadOnly}">
					<q-input v-model="vueData.newIntentTrainingSentence" th:@keydown.enter.prevent="|httpPostAjax('@{_addTrainingSentence}', {'vContext[newIntentTrainingSentence]':vueData.newIntentTrainingSentence})|"
						placeholder="Ajouter une expression"
						:before="[{icon: 'format_quote'}]"
						q-if>
					</q-input>
				</div>
				<q-list highlight>
					<q-item v-for="(intentTrainingSentence, index) in vueData.intentTrainingSentences.slice().reverse()">
						<q-item-side left th:if="${!model.modeReadOnly}">
							<q-btn th:@click="|httpPostAjax('@{_removeTrainingSentence}', {'index':vueData.intentTrainingSentences.length - 1 - index})|"
								color="primary" dense size="md" icon="delete" class="bg-red" aria-label="Remove" title="Remove"></q-btn>
						</q-item-side>
						<q-item-main>{{intentTrainingSentence.text}}</q-item-main>
					</q-item>
				</q-list>
			</vu:block>
			
			<vu:block id="answers" title="Answers">
				<vu:include-data-primitive key="newUtterText" />
				<vu:include-data object="utterTexts" field="text" />
			
				<div th:if="${!model.modeReadOnly}">
					<q-input v-model="vueData.newUtterText" th:@keydown.enter.prevent="|httpPostAjax('@{_addUtterText}', {'vContext[newUtterText]':vueData.newUtterText})|"
						placeholder="Ajouter une réponse"
						:before="[{icon: 'format_quote'}]">
					</q-input>
				</div>
				<q-list highlight>
					<q-item v-for="(utterTexts, index) in vueData.utterTexts.slice().reverse()">
						<q-item-side left th:if="${!model.modeReadOnly}">
							<q-btn th:@click="|httpPostAjax('@{_removeUtterText}', {'index':vueData.utterTexts.length - 1 - index})|"
									color="primary" dense size="md" icon="delete" class="bg-red" aria-label="Remove" title="Remove"></q-btn>
						</q-item-side>
						<q-item-main>{{utterTexts.text}}</q-item-main>
					</q-item>
				</q-list>
			</vu:block>
			
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" /> 
			</q-page-sticky>
			
		</section>
	</body>
</html>