<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=dictionary"
	>
	
	<head>
		<script th:inline="javascript">
			function normalizeString(str) {
				if (str)
					return str.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase();
				else
					return '';
			}
			
			function getDisplayedSynonyms() {
				let searchNormarlized = normalizeString(VertigoUi.componentStates.synonyms.pagination.search);
				
				return VertigoUi.vueData.synonyms
						// copy and reverse
						.slice().reverse()
						// search
						.filter(syn => normalizeString(syn.label).includes(searchNormarlized))
						
			}
		</script>
		<title th:text="#{dictionary.title}"></title>
	</head>
	
	<body>
		<section layout:fragment="content-header-actions">
			<q-form method="post" action="_exportDictionary">	
				<q-btn class="fab-block" round color="primary" icon="add" aria-label="Add" title="Add" size="lg"
						       @click="vueData.meaningEdit = Vue.util.extend({}, vueData.nodeNew); $refs.meaningEdit.show()"></q-btn>
				<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">	
				<q-btn type="submit" th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="lg" 
				icon="file_upload" th:aria-label="#{action.import}" th:title="#{action.import}"></q-btn> 
				
				<q-btn th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="lg"
				icon="file_download" th:aria-label="#{action.export}" th:title="#{action.export}" 
						       @click="$refs.importDictionary.show()"></q-btn>	
						
										       
				</q-form>
		</section>
		
		<section layout:fragment="content">
			
			<vu:block id="meanings" th:title="#{dictionary.list}">
				<vu:slot name="actions_slot">
				 	<q-input v-model="componentStates.synonyms.pagination.search" dense clearable 
	      				type="search" 
	      				placeholder= Filter
	      				@keydown.esc="componentStates.synonyms.pagination.search = '';"
	      				style="width:300px">
						<template v-slot:prepend>
				        	<q-icon name="search" ></q-icon>
				        </template>	
        			</q-input> 				
				</vu:slot>
				
				
				<th:block th:attr="objectKey=${model.vContext['componentStates'].addComponentState('synonyms').addObject('pagination', {page: 1 , rowsPerPage: 10, search:''})}" th:remove="all" />
				<vu:include-data object="synonyms" field="'*'" />
				<q-table
				   	:ref="'synonyms'"
				    :data="getDisplayedSynonyms()"
				    row-key="synId"
				    :selected.sync="componentStates.synonyms.selected"
				    :loading="componentStates.synonyms.loading"
				    :pagination.sync="componentStates.synonyms.pagination"
				    :sort-method="VertigoUi.methods.sortCiAi"
				    table-class="table-secondary" :binary-state-sort="true"
				    :visible-columns="['label']"
				  >
				
					 <q-tr slot="body" slot-scope="props" :props="props" @click.native="goTo('../../' +props.row.botId + '/meaning/'+props.row.meaId)" style="cursor : pointer;" >
						 <q-td key="label" :props="props" class="col_STyLabel" >
							{{ props.row.label }}
						</q-td>
					</q-tr>
					<div class="q-pa-lg flex flex-center">
					<q-pagination
					      v-model="componentStates.synonyms.pagination.page"
					    
					      :max="Math.ceil(vueData.synonyms.length / componentStates.synonyms.pagination.rowsPerPage)"
					      :max-pages="6"
	      				  :boundary-numbers="true"
	      				  :direction-links="true" >
	      			</q-pagination>
	      			</div>
	      				  
        
				</q-table>
			</vu:block>
			
			 				
			<vu:popup-ajax action="_deleteMeaning" vModel="showPopupMeaning" th:message="supprimer"  dataName="meaId" successAction="'VUiPage.$refs.meaningEdit.hide'"></vu:popup-ajax>
			
			
			
			
			<q-dialog ref="meaningEdit" th:with="viewMode='edit'" @hide="delete uiMessageStack.objectFieldErrors.meaningEdit">
				<q-card>
					<q-form method="post" action="saveMeaning">
						<q-card-section>
							<div class="text-h6" th:text="#{dictionary.new}"></div>
						</q-card-section>
						
						<q-card-section >
							<vu:text-field object="meaningEdit" field="label"/>
						</q-card-section>
						
					<input type="hidden" name="meaningEdit" :value="vueData.meaningEdit" />
					
						<q-card-actions align="around">
							<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
							<q-btn v-if="vueData.meaningEdit.meaId" th:label="#{bot.delete}" color="red" @click="componentStates.meaId = vueData.meaningEdit.meaId; componentStates.showPopupMeaning = true " ></q-btn>
							<q-btn type="submit" th:title="#{dictionary.create}" th:label="#{dictionary.create}" th:aria-label="#{dictionary.create}" color="primary" ></q-btn> 
						</q-card-actions>
					</q-form>
				</q-card>
			</q-dialog>
			
			<q-dialog ref="importDictionary" th:with="viewMode='edit'" >
				<q-card>
					<q-form method="post" action="_importDictionary">
					<q-card-section>
						<div class="text-h6" th:text="#{popup.import.title}"></div>						
					</q-card-section>
					
					<vu:include-data-primitive key="locale" />
					<vu:fileupload th:url="'@{/commons/upload}'" key="importDictionaryFileUri" multiple="false"/>
				
					
					
					<q-card-actions align="around">
							<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
							<q-btn flat th:label="#{action.cancel}" color="primary" v-close-popup ></q-btn>
							<q-btn type="submit" th:title="#{action.confirm}" th:label="#{action.confirm}" th:aria-label="#{action.confirm}" color="primary" ></q-btn> 
					</q-card-actions>
					</q-form>
				</q-card>
			</q-dialog>
			
		</section>
	</body>
</html>