<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="nav=false, tab=models"
	>
	
	<head>
		<title>Models</title>
		
		<link  th:href="@{/static/chatbot/chatbot.css}" rel="stylesheet"/>
		<script th:src="@{/static/chatbot/v-chatbot.js}"></script>
		
		<script th:inline="javascript">
			// ## training ##
			
			var interval;
			VUiExtensions.dataX.loadingRunner = false;
			VUiExtensions.dataX.loadingModels = false;
			VUiExtensions.dataX.loadingTraining = false;
			VUiExtensions.dataX.modalLog = {"show": false, "col": "", "row": {}};
			
			
			function postTrain() {
				interval = setInterval(function() {
					refreshTraining();
				}, 1000);
				
				refreshModels();
			}
			
			function refreshTraining() {
				VUiExtensions.dataX.loadingTraining = true;
				
				VUiPage.httpPostAjax("_refreshTrainer", {}, {
					onSuccess: function() {
						VUiExtensions.dataX.loadingTraining = false;
						
						if (vueData.autoscroll) {
							scrollLogToBottom();
						}
						if (!vueData.trainerState.trainingInProgress && interval != null) {
							clearInterval(interval);
							interval = null;
							setTimeout(refreshModels, 500); // timeout to ensure callback is processed
						}
					}
				});
			}
			
			function refreshModels() {
				VUiExtensions.dataX.loadingModels = true;
				
				VUiPage.httpPostAjax("_refreshTrainings", {}, {
					onSuccess: function() {
						VUiExtensions.dataX.loadingModels = false;
					}
				});
			}
			
			function refreshRunner() {
				VUiExtensions.dataX.loadingRunner = true;
				
				VUiPage.httpPostAjax("_refreshRunner", {}, {
					onSuccess: function() {
						VUiExtensions.dataX.loadingRunner = false;
					}
				});
			}
			
			function scrollLogToBottom() {
				// wait for vue to update dom before scrolling
				Vue.nextTick(function() {
					var obj = document.getElementById("log");
					obj.scrollTop = obj.scrollHeight;
				});
			}
			
			function deleteTraining(training) {
				VUiPage.$q.dialog({
			        title: 'Confirm',
			        message: 'Do you want to delete training version ' + training.versionNumber,
					ok: {
						label: "Delete",
						color: "red"
					},
					cancel: {
						label: "Cancel"
					}
			    }).onOk(() => {
					VUiPage.httpPostAjax("_removeTraining", {'traId':training.traId});
			    })
			}
			
			// ## model management ##
			
			VUiExtensions.dataX.loadModel = {
				currentTraining: null,
				selectedNode: null
			};
			
			function showTrainingPopin(training) {
				VUiExtensions.dataX.loadModel = {
					currentTraining: training,
					selectedNode: null,
					processing: false
				};
				VUiPage.$refs.loadModelDialog.show();
			}
			
			function loadTraining() {
				VUiExtensions.dataX.loadModel.processing = true;
				VUiPage.httpPostAjax('_loadTraining',
						{
							'traId': VUiExtensions.dataX.loadModel.currentTraining.traId,
							'nodId': VUiExtensions.dataX.loadModel.selectedNode.nodId
						},
						{
							onSuccess: function() {
								if (VUiExtensions.dataX.loadModel.selectedNode.isDev) {
									VUiPage.$refs.chatbot.systemMessage("Model V" + VUiExtensions.dataX.loadModel.currentTraining.versionNumber + " loaded.");
									VUiPage.$refs.chatbot.restart(true);
								}
								VUiPage.$refs.loadModelDialog.hide();
							}
						}
					);
			}
			
			function getTrainingById(id) {
				if (id == null) return null;
				
				let result = vueData.trainingList.filter(t => t.traId === id);
				return result.length === 0 ? null : result[0];
			}
			
			function getVersionNumberByTrainingId(id) {
				let training = getTrainingById(id);
				return training === null ? null : training.versionNumber;
			}
			
			function isSelected(node) {
				return VUiExtensions.dataX.loadModel.selectedNode && VUiExtensions.dataX.loadModel.selectedNode.nodId === node.nodId;
			}
			
			function selectNode(node, state) {
				if (state) {
					VUiExtensions.dataX.loadModel.selectedNode = node;
				} else {
					VUiExtensions.dataX.loadModel.selectedNode = null;
				}
			}
			
			function getCurrentTrainingVersionNumber() {
				return VUiExtensions.dataX.loadModel.currentTraining && VUiExtensions.dataX.loadModel.currentTraining.versionNumber;
			}
			function getCurrentSelectedNodeVersionNumber() {
				return VUiExtensions.dataX.loadModel.selectedNode && getVersionNumberByTrainingId(VUiExtensions.dataX.loadModel.selectedNode.traId)
			}
			function getMigrationAdjective() {
				let currentTrainingVersionNumber = getCurrentTrainingVersionNumber();
				let currentSelectedNodeVersionNumber = getCurrentSelectedNodeVersionNumber();
				
				if (currentSelectedNodeVersionNumber === null) {
					return "";
				} else if (currentTrainingVersionNumber > currentSelectedNodeVersionNumber) {
					return "<span class='text-green'>newer</span>";
				} else if (currentTrainingVersionNumber < currentSelectedNodeVersionNumber) {
					return "<span class='text-red'>older</span>";
				} else if (currentTrainingVersionNumber === currentSelectedNodeVersionNumber){
					return "<span class='text-orange'>same</span>";
				}
			}
			function getDevNode() {
				let result = vueData.nodeList.filter(n => n.isDev === true);
				return result.length === 0 ? null : result[0];
			}
			
		</script>
	</head>
	
	<body>
		<section layout:fragment="content-nav">
			<q-item tag="a" href="#run">Node state</q-item>
			<q-item tag="a" href="#load">Manage models</q-item>
			<q-item tag="a" href="#train">Training</q-item>
		</section>
		
		<section layout:fragment="content">
			
			<!-- 
			<vu:block id="run" title="Node state">
				<vu:slot name="actions_slot">
					<q-btn class="fab-block" round color="primary" icon="refresh" aria-label="Refresh" title="Refresh" 
					       @click="refreshRunner" :loading="dataX.loadingRunner"></q-btn>
				</vu:slot>
				
				<vu:text-field-read-reactive object="runnerState" field="name" />
				<vu:text-field-read-reactive object="runnerState" field="state" label="State" />
				<vu:text-field-read-reactive object="runnerState" field="agentVersion" />
				<vu:text-field-read-reactive object="runnerState" field="loadedModelVersion" />
			</vu:block>
			 -->
			 
			 
			<vu:block id="train" title="Build new model">
				<vu:slot name="actions_slot">
					<q-btn class="fab-block" round color="primary" icon="refresh" aria-label="Refresh" title="Refresh" 
					       @click="refreshTraining" :loading="dataX.loadingTraining"></q-btn>
				</vu:slot>
				
				<vu:include-data object="trainerState" field="latestTrainingLog" />
				<vu:include-data object="trainerState" field="startTime"/>
				<vu:include-data object="trainerState" field="duration"/>
				<vu:include-data object="trainerState" field="trainingPercent" />
				
				<vu:text-field-read-reactive object="trainerState" field="trainingState" label="State" />
				
				<q-linear-progress :class="vueData.trainerState.trainingInProgress ? '':'invisible'"
						stripe rounded style="height: 10px"
						:value="vueData.trainerState.trainingPercent / 100"></q-linear-progress>
				
				<q-card-actions>
					<vu:include-data object="trainerState" field="trainingInProgress" />
					
					<q-btn color="primary" icon="build" size="lg" label="Start build" :loading="vueData.trainerState.trainingInProgress" :disable="getDevNode() == null || vueData.trainerState.trainingInProgress"
							@click="httpPostAjax('_train', {}, {onSuccess: postTrain})" style="width: 200px">
						<span slot="loading">
							<q-spinner-gears class="on-left"></q-spinner-gears>
							Start build
						</span>
					</q-btn>
					
					<q-btn color="red" icon="warning" size="lg" label="Stop build" v-if="vueData.trainerState.trainingInProgress"
							@click="httpPostAjax('_stop', {}, {onSuccess: refreshModels})"></q-btn>
				</q-card-actions>
				
				<q-card-separator></q-card-separator>
				
				<q-list bordered class="rounded-borders">
					<q-expansion-item label="Details" icon="details">
						<q-card>
	          				<q-card-section>
								<vu:label object="trainerState" field="startTime">
									<span>{{vueData.trainerState.startTime}}</span>
								</vu:label>
								
								<vu:label object="trainerState" field="duration">
									<span>{{vueData.trainerState.duration}}</span>
								</vu:label>
							
								<vu:label object="trainerState" field="latestTrainingLog">
									<vu:include-data-primitive key="autoscroll" />
									<div class="col">
										<q-toggle label="Auto scroll logs" v-model="vueData.autoscroll" ></q-toggle>
										
										<pre id="log" style="max-height:300px; overflow:auto">{{vueData.trainerState.latestTrainingLog}}</pre>
									</div>
								</vu:label>
							</q-card-section>
						</q-card>
					</q-expansion-item>
				</q-list>
			</vu:block>
			
			 
			<vu:table id="load" list="trainingList" title="Manage models" :dense="|$q.screen.lt.lg|" componentId="trainingList" rowsPerPage="10" autoColClass >
				<vu:slot name="top_right_slot">
					<q-btn class="fab-block" round color="primary" icon="refresh" aria-label="Refresh" title="Refresh" 
					       @click="refreshModels" :loading="dataX.loadingModels"></q-btn>
				</vu:slot>
				<vu:slot name="actions_slot">
					<q-btn class="on-right" round color="primary" icon="cloud_upload" aria-label="Load model"
							 v-if="props.row.status == 'OK'"
							 @click="showTrainingPopin(props.row)"></q-btn>
					<q-btn class="on-right" round color="red" icon="delete" aria-label="Delete model"
							 v-if="props.row.status != 'TRAINING'"
							 @click="deleteTraining(props.row)"></q-btn>
				</vu:slot>
				
				<vu:include-data object="trainingList" field="traId" />
				<vu:include-data object="trainingList" field="endTime" />
				
				<vu:column field="status" label="" sortable="false" class="col_Small">
					<q-icon name="check" color="green" size="2rem" v-if="props.row.status == 'OK'"></q-icon>
					<q-icon name="block" color="red" size="2rem" v-if="props.row.status == 'KO'"></q-icon>
					<q-spinner-gears color="orange" class="q-pa-xs" size="2rem" v-if="props.row.status == 'TRAINING'"></q-spinner-gears>
				</vu:column>
				<vu:column field="versionNumber" class="col_Small"/>
				<vu:column field="startTime" label="Start" />
				<vu:column field="duration" class="col_Small" label="Time" >
					<vu:content v-if="props.row.endTime">
						{{ props.row.duration }}
						<q-tooltip content-style="font-size: 13px"
								   anchor="center right" self="center left"
								   transition-show="jump-right" transition-hide="jump-left">
							End time : {{ props.row.endTime }}
						</q-tooltip>
					</vu:content>
				</vu:column>
				<vu:column field="log" class="col_Log">
					<vu:include-data object="trainingList" field="infos" />
					<vu:include-data object="trainingList" field="warnings" />
					
					<q-btn v-if="props.row.log"
							round icon="notes"
							@click="dataX.modalLog.col = 'log'; dataX.modalLog.row = props.row; dataX.modalLog.show = true"></q-btn>
							
					<q-btn v-if="props.row.infos"
							round icon="short_text" class="on-right"
							@click="dataX.modalLog.col = 'infos'; dataX.modalLog.row = props.row; dataX.modalLog.show = true"></q-btn>
							
					<q-btn v-if="props.row.warnings"
							round icon="warning" color="orange" class="on-right"
							@click="dataX.modalLog.col = 'warnings'; dataX.modalLog.row = props.row; dataX.modalLog.show = true"></q-btn>
				</vu:column>
				<vu:column name="node" label="Deployed on">
					<vu:include-data object="nodeList" field="nodId" />
					<vu:include-data object="nodeList" field="traId" />
					<vu:include-data object="nodeList" field="name" />
					<vu:include-data object="nodeList" field="color" />
					<vu:include-data object="nodeList" field="isDev" />
					<vu:include-data object="nodeList" field="url" />
					
					<q-chip v-for="node in vueData.nodeList" v-if="node.traId === props.row.traId" :style="'background: '+ node.color" text-color="white" icon="cloud_done">
						{{node.name}}
					</q-chip>
				</vu:column>
			</vu:table>
			
			<q-dialog v-model="dataX.modalLog.show">
				<q-card style="max-width: 90vw; width: 1200px;">
					<q-card-section class="row items-center">
						<div class="text-h6">Training log N° {{dataX.modalLog.row.versionNumber}}</div>
						<q-space></q-space>
						<q-btn icon="close" flat round dense v-close-popup></q-btn>
					</q-card-section>
					
					<q-separator></q-separator>
					
   					<q-card-section style="max-height: calc(90vh - 90px)" class="scroll">
    					<pre>{{dataX.modalLog.row[dataX.modalLog.col]}}</pre>
    				</q-card-section>
      			</q-card>	
			</q-dialog>
			
			<q-dialog ref="loadModelDialog">
				<q-card style="max-width: 50vw;">
					<q-card-section>
						<div class="text-h6">Deploying version {{getCurrentTrainingVersionNumber()}}</div>
					</q-card-section>
					
					<q-card-section>
						<p>Select deployment node :</p>

						<q-chip v-for="node in vueData.nodeList" clickable :selected="isSelected(node)" @update:selected="state => selectNode(node, state)"
							    icon="panorama_fish_eye" :style="'background: '+ node.color" text-color="white">
							<q-badge color="primary" floating style="top: -8px" v-if="node.traId !== undefined && node.traId !== null">V {{getVersionNumberByTrainingId(node.traId)}}</q-badge>
							{{node.name}}
						</q-chip>
					</q-card-section>
					
					<q-card-section>
						<div v-if="!dataX.loadModel.selectedNode" class="text-italic">Please select a deployment node</div>
						<div v-if="dataX.loadModel.selectedNode">Deploy <span v-html="getMigrationAdjective()"></span> model on node <span class="text-italic" :style="'color: '+ dataX.loadModel.selectedNode.color">"{{dataX.loadModel.selectedNode.name}}"</span></div>
					</q-card-section>
					
					<q-card-actions align="around">
						<q-btn label="Cancel" color="red" v-close-popup></q-btn>
						<q-btn label="Load" color="green" :disable="!dataX.loadModel.selectedNode" :loading="dataX.loadModel.processing" @click="loadTraining()" ></q-btn>
					</q-card-actions>
				</q-card>
			</q-dialog>
			
			
			<template v-if="getDevNode() != null">
				<th:block th:with="botDrawer=${model.vContext['componentStates'].addComponentState('botDrawer').addPrimitive('open', false)}" >
	  				<q-page-sticky v-if="$q.screen.lt.lg" position="bottom-right" :offset="[-16 + (componentStates.botDrawer.open ? 300:0),36]">
					    <q-btn round size="lg" @click="componentStates.botDrawer.open = !componentStates.botDrawer.open" class="chatbotSickyBtn">
					    	<img th:src="@{/bot/{id}/avatar(id=${model.bot.botId})}" style="width: 60px; height: 60px"/>
					    </q-btn>
					</q-page-sticky>
		  			<q-drawer :value="!$q.screen.lt.lg || componentStates.botDrawer.open" elevated ref="botDrawer" side="right" behavior="desktop" :overlay="$q.screen.lt.lg">
						<v-chatbot class="column chatbot-container"
								   ref="chatbot"
								   th:bot-avatar="@{/bot/{id}/avatar(id=${model.bot.botId})}" bot-name="test-bot" :bot-url="getDevNode().url + '/api/chatbot/talk'"
								   :dev-mode="!true"
								   :placeholder="'Speak to ' + vueData.bot.name"></v-chatbot>
		  			</q-drawer>
				</th:block>
			</template>
		</section>
		
		<section layout:fragment="javascript-footer">
			<script>
				if (vueData.trainerState.trainingInProgress) {
					postTrain();
				}
				setTimeout(scrollLogToBottom, 0);
			</script>
		</section>
	</body>
</html>