<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="nav=true, tab=models"
	>
	
	<head>
		<title th:text="#{model.title}"></title>

		<script v-if="canTalkToBot()" th:src="@{/static/chatbot/chatbot.js}"></script>
		<script v-if="canTalkToBot()" th:src="@{/static/chatbot/shepherd.min.js}"></script>
		<link v-if="canTalkToBot()" th:href="@{/static/chatbot/shepherd.css}" rel="stylesheet" />
		<link v-if="canTalkToBot()" th:href="@{/static/chatbot/chatbot.css}" rel="stylesheet">
		<vu:include-data object="deployedTraining" field="versionNumber" />
		<script th:inline="javascript">
			// ## training ##
			
			var interval;
			VUiExtensions.dataX.loadingRunner = false;
			VUiExtensions.dataX.loadingModels = false;
			VUiExtensions.dataX.loadingTraining = false;
			VUiExtensions.dataX.modalLog = {"show": false, "col": "", "row": {}};

			function normalizeString(str) {
				if (str)
					return str.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase();
				else
					return '';
			}
			
			function postTrain() {
				interval = setInterval(function() {
					refreshTraining();
				}, 1000);
				
				refreshModels();
				VUiPage.$refs.loadModelDialog.hide();
			}
			
			function refreshTraining() {
				VUiExtensions.dataX.loadingTraining = true;
				
				VUiPage.httpPostAjax("_refreshTrainer", {}, {
					onSuccess: function() {
						VUiExtensions.dataX.loadingTraining = false;
						
					
						if (!VertigoUi.vueData.trainerState.trainingInProgress && interval != null) {
							clearInterval(interval);
							interval = null;
							setTimeout(refreshTrainingInfo, 500)
							setTimeout(refreshModels, 500); // timeout to ensure callback is processed
							if (VUiExtensions.dataX.loadModel.selectedNode.isDev && VertigoUi.vueData.trainerState.trainingState == "OK") {
								var name = /*[[#{model.name}]]*/ '';
								var loaded = /*[[#{model.loaded}]]*/ '';
								VUiPage.$refs.chatbot.systemMessage(name + " V" + VertigoUi.vueData.deployedTraining.versionNumber  + " " + loaded);
								VUiPage.$refs.chatbot.restart(true);
							}
						}
					}
				});
			}
			
			function refreshTrainingInfo(){
				VUiPage.httpPostAjax("_refreshTrainingInfo", {});
			}

			function refreshSavedTraining() {
				VUiPage.httpPostAjax("_refreshSavedTraining", {});
			}

			function refreshModels() {
				VUiExtensions.dataX.loadingModels = true;
				
				VUiPage.httpPostAjax("_refreshTrainings", {}, {
					onSuccess: function() {
						VUiExtensions.dataX.loadingModels = false;
					}
				});
			}

			function closeDialog() {
				VUiPage.$refs.popupFromDate.hide();
				VUiPage.$refs.popupToDate.hide();
			}

			function deploySavedTraining(noId, savedTraId) {
				VUiPage.httpPostAjax("_deploySavedTraining", {
					'savedTrainingIdToDeploy': savedTraId,
					'nodeId': noId
				}, {
					onSuccess: function() {
						postTrain();
					}
				})
			}

			function saveTraining() {
				VUiPage.httpPostAjax("_saveTraining", {
					'name': VertigoUi.vueData.newSavedTraining.name,
					'description': VertigoUi.vueData.newSavedTraining.description,
				})
			}
			// ## model management ##
			
			VUiExtensions.dataX.loadModel = {
				currentTraining: null,
				selectedNode: null
			};
			
			function showTrainingPopin(training) {
				VUiExtensions.dataX.loadModel = {
					currentTraining: training,
					selectedNode: null,
					processing: false
				};
				VUiPage.$refs.loadModelDialog.show();
			}
			
						
			function trainSelectedNode() {
				VUiExtensions.dataX.loadModel.processing = true;
				VUiPage.httpPostAjax('_train',
						{
							'nodId': VUiExtensions.dataX.loadModel.selectedNode.nodId
						},
						{
							onSuccess: function() {
								postTrain();
								
							}
						}
					);
			}
			
			function getTrainingById(id) {
				if (id == null) return null;
				
				let result = VertigoUi.vueData.trainingList.filter(t => t.traId === id);
				return result.length === 0 ? null : result[0];
			}
			
			function getVersionNumberByTrainingId(id) {
				let training = getTrainingById(id);
				return training === null ? null : training.versionNumber;
			}
			
			function isSelected(node) {
				return VUiExtensions.dataX.loadModel.selectedNode && VUiExtensions.dataX.loadModel.selectedNode.nodId === node.nodId;
			}
			
			function selectNode(node, state) {
				if (state) {
					VUiExtensions.dataX.loadModel.selectedNode = node;
				} else {
					VUiExtensions.dataX.loadModel.selectedNode = null;
				}
			}
			
			function getCurrentTrainingVersionNumber() {
				return VertigoUi.vueData.deployedTraining.versionNumber;
			}
			function getCurrentSelectedNodeVersionNumber() {
				return VUiExtensions.dataX.loadModel.selectedNode && getVersionNumberByTrainingId(VUiExtensions.dataX.loadModel.selectedNode.traId)
			}

			function getTrainingVersion(traId) {
				let result = VertigoUi.vueData.trainingList.filter(t => t.traId === traId);
				return result.length === 0 ? null : result[0].versionNumber;
			}

			function getSavedTrainingName(traId) {
				let result = VertigoUi.vueData.savedTrainingList.filter(t => t.traId === traId);
				return result.length === 0 ? null : result[0].name;
			}

			function getMigrationAdjective() {
				let currentTrainingVersionNumber = getCurrentTrainingVersionNumber();
				let currentSelectedNodeVersionNumber = getCurrentSelectedNodeVersionNumber();
				if (currentSelectedNodeVersionNumber === null) {
					return "<span>" + /*[[#{node.deployment.article}]]*/ + "</span>";
				} else if (currentTrainingVersionNumber > currentSelectedNodeVersionNumber) {
					return "<span class='text-green'>" + /*[[#{node.deployment.new}]]*/ + "</span>";
				} else if (currentTrainingVersionNumber < currentSelectedNodeVersionNumber) {
					return "<span class='text-red'>" + /*[[#{node.deployment.older}]]*/ + "</span>";
				} else if (currentTrainingVersionNumber === currentSelectedNodeVersionNumber){
					return "<span class='text-orange'>" + /*[[#{node.deployment.same}]]*/ + "</span>";
				}
			}
			function getDevNode() {
				let result = VertigoUi.vueData.nodeList.filter(n => n.isDev === true);
				return result.length === 0 ? null : result[0];
			}
			function canTalkToBot() {
				node = getDevNode();
				return node !== null && node.traId !==null;
			}
			function canTrainBot(trainingInProgress) {
				node = getDevNode();
				return node == null || trainingInProgress;
			}
			
			function displayTrainingLog(training) {


				VertigoUi.vueData.trainingDisplayed = training;


				VUiPage.$refs.trainingDisplayedDialog.show();
			}

			function filterFn (val, update) {
				update(() => {
					if (val === '') {
						VertigoUi.componentStates.labels.filterOptions = VertigoUi.vueData.savedTrainingList.map(function (savedTraining) {
							return { value: savedTraining.savedTraId, label: savedTraining.name + " - " + getVersionNumberByTrainingId(savedTraining.traId)}
						});
					}
					else {
						const needle = normalizeString(val.toLowerCase())
						VertigoUi.componentStates.labels.filterOptions = VertigoUi.vueData.savedTrainingList.filter(
								savedTraining => (normalizeString(savedTraining.name.toLowerCase()).indexOf(needle) > -1 ||
										normalizeString(getVersionNumberByTrainingId(savedTraining.traId).toString()).indexOf(needle)> -1)
						).map(function (savedTraining) {
							return { value: savedTraining.savedTraId, label: savedTraining.name + " - " + getVersionNumberByTrainingId(savedTraining.traId)}
						});
					}
				})
			}

			document.addEventListener('DOMContentLoaded', function () {
				Chatbot.init({
					runnerUrl: getDevNode().url,
					botIHMBaseUrl: getDevNode().url + '/static/chatbot/index.html',
					botName: "Chatbot test",
					useRating: false,
					avatarUrl: VertigoUi.vueData.bot.botId + '/avatar'
				})
			});

		</script>
	</head>
	
	<body>
		<section layout:fragment="content-nav">
			<q-item tag="a" href="#modelManagement"  th:text="#{model.menu.modelManagement}"></q-item>
			<q-item tag="a" href="#deployment" th:text="#{model.menu.deployment}"></q-item>
		</section>
		
		<section layout:fragment="content">

			<vu:include-data object="bot" field="botId" />
			<vu:block id="modelManagement" th:title="#{model.model.title}">
				<vu:slot name="actions_slot">
					<q-btn class="fab-block" round color="primary" icon="refresh" th:aria-label="#{action.refresh}" th:title="#{action.refresh}" 
					       @click="refreshTraining" :loading="dataX.loadingTraining"></q-btn>
				</vu:slot>
				
				<vu:include-data object="trainerState" field="startTime"/>
				<vu:include-data object="trainerState" field="duration"/>
				<vu:include-data object="trainerState" field="trainingPercent" />
				<vu:include-data object="deployedTraining" field="versionNumber" />

				<vu:text-field-read-reactive object="trainerState" field="trainingState" th:label="#{model.state}" />
				<vu:text-field-read-reactive object="deployedTraining" field="versionNumber" th:label="#{model.deployedTraining.versionNumber}" />

				<q-linear-progress :class="vueData.trainerState.trainingInProgress ? '':'invisible'"
						stripe rounded style="height: 10px"
						:value="vueData.trainerState.trainingPercent / 100"></q-linear-progress>
				
				<q-card-actions th:if="${model.userAuthorizations[AtzChatbot$botContributor]}" align="around">
					<vu:include-data object="trainerState" field="trainingInProgress" />
					
					<q-btn color="primary" icon="build" size="lg" th:label="#{action.build.start}" :loading="vueData.trainerState.trainingInProgress" :disable="canTrainBot(vueData.trainerState.trainingInProgress)"
							@click="showTrainingPopin(null)" style="width: 200px">
						<span slot="loading" th:text="#{action.node.loading}">
							<q-spinner-gears class="on-left"></q-spinner-gears>
						</span>
					</q-btn>
					<q-btn color="primary" icon="save" size="lg" th:label="#{action.build.save}" @click="$refs.saveTrainingModal.show()"></q-btn>

					
				</q-card-actions>
				
				<q-card-separator></q-card-separator>
			
			</vu:block>
			<vu:table list="trainingList" th:title="#{model.history}" :dense="|$q.screen.lt.lg|" componentId="trainingList"
					  rowsPerPage="10" autoColClass >
				<vu:slot name="top_right_slot">
					<q-btn class="fab-block" round color="primary" icon="refresh" th:aria-label="#{action.refresh}" th:title="#{action.refresh}"
						   @click="refreshModels" :loading="dataX.loadingModels"></q-btn>
				</vu:slot>

				<vu:include-data object="trainingList" field="traId" />
				<vu:include-data object="trainingList" field="endTime" />
				<vu:include-data object="trainingList" field="duration" />
				<vu:include-data object="trainingList" field="log" />

				<vu:column field="strCd" label="" sortable="false" class="col_Small">
					<q-icon name="check" color="green" size="2rem" v-if="props.row.strCd == 'OK'"></q-icon>
					<q-icon name="block" color="red" size="2rem" v-if="props.row.strCd == 'KO'"></q-icon>
					<q-spinner-gears color="orange" class="q-pa-xs" size="2rem" v-if="props.row.strCd == 'TRAINING'"></q-spinner-gears>
				</vu:column>
				<vu:column field="versionNumber" class="col_Small"/>
				<vu:column field="startTime" th:label="#{node.deployment.start}" />
				<vu:column field="duration" class="col_Small" th:label="#{node.deployment.time}" >
					<vu:content v-if="props.row.endTime">
						{{ props.row.duration }}
						<q-tooltip content-style="font-size: 13px"
								   anchor="center right" self="center left"
								   transition-show="jump-right" transition-hide="jump-left">
							End time : {{ props.row.endTime }}
						</q-tooltip>
					</vu:content>
				</vu:column>

				<vu:column name="node" th:label="#{node.deployment.action.already}">
					<vu:include-data object="nodeList" field="nodId" />
					<vu:include-data object="nodeList" field="traId" />
					<vu:include-data object="nodeList" field="name" />
					<vu:include-data object="nodeList" field="color" />
					<vu:include-data object="nodeList" field="isDev" />
					<vu:include-data object="nodeList" field="url" />
					<q-chip v-for="node in vueData.nodeList" v-if="node.traId === props.row.traId" :style="'background: '+ node.color" text-color="white" icon="cloud_done">
						{{node.name}}
					</q-chip>
				</vu:column>

				<vu:column field="traId" label="" sortable="false" class="col_Small">
					<q-btn icon="info" color="grey" @click="displayTrainingLog(props.row);" th:aria-label="#{model.traininglogs}" th:title="#{model.traininglogs}"></q-icon>
				</vu:column>
			</vu:table>
			<vu:popup-ajax action="_deleteSavedTraining" vModel="showDeleteSavedTrainingPopup" th:message="#{model.savedTraining.deletePopup.message}" th:confirm="#{action.delete}" dataName="savedTraId" ></vu:popup-ajax>
			<vu:include-data object="criteria" field="text" modifiable="true" />
			<vu:include-data object="criteria" field="fromDate" modifiable="true" />
			<vu:include-data object="criteria" field="toDate" modifiable="true" />
			<input type="hidden" name="vContext[criteria][toDate]" v-bind:value="vueData.criteria.toDate" />
			<vu:table list="savedTrainingList" th:title="#{model.savedTraining}" :dense="|$q.screen.lt.lg|" componentId="savedTrainingList"
					  rowsPerPage="10" autoColClass >
				<vu:slot name="top_right_slot">
					<q-input
							v-bind:value="decodeDate('criteria', 'fromDate', 'DD/MM/YYYY')"
							dense clearable
							class="q-pa-none"
							style="width: 200px;background-color: white"
							@change="function (event) { encodeDate('criteria','fromDate', event.target.value, 'DD/MM/YYYY') }"
							th:label="#{savedTraining.date.from}"
							:error="hasFieldsError('criteria', 'fromDate')"
							:error-message="getErrorMessage('criteria', 'fromDate')"
							@clear="vueData.criteria.fromDate=null;httpPostAjax('_filterSavedTraining', vueDataParams(['criteria']));"
					>
						<template v-slot:prepend>
							<q-icon name="event" class="cursor-pointer">
								<q-popup-proxy :breakpoint="600" transition-show="scale" transition-hide="scale" ref="popupFromDate">
									<q-date
											v-model="vueData.criteria.fromDate"
											landscape
											mask="DD/MM/YYYY"
											@input="closeDialog();httpPostAjax('_filterSavedTraining', vueDataParams(['criteria']));"></q-date>
								</q-popup-proxy>
							</q-icon>
						</template>
					</q-input>
					<input type="hidden" name="vContext[criteria][fromDate]" v-bind:value="vueData.criteria.fromDate" />

					<q-input
							v-bind:value="decodeDate('criteria', 'toDate', 'DD/MM/YYYY')"
							dense clearable
							class="q-pa-none"
							style="width: 200px;background-color: white"
							@change="function (event) { encodeDate('criteria','toDate', event.target.value, 'DD/MM/YYYY') }"
							th:label="#{savedTraining.date.to}"
							:error="hasFieldsError('criteria', 'toDate')"
							:error-message="getErrorMessage('criteria', 'toDate')"
							@clear="vueData.criteria.toDate=null;httpPostAjax('_filterSavedTraining', vueDataParams(['criteria']));"
					>
						<template v-slot:prepend>
							<q-icon name="event" class="cursor-pointer">
								<q-popup-proxy :breakpoint="600" transition-show="scale" transition-hide="scale" ref="popupToDate">
									<q-date
											v-model="vueData.criteria.toDate"
											landscape
											mask="DD/MM/YYYY"
											@input="closeDialog();httpPostAjax('_filterSavedTraining', vueDataParams(['criteria']));"></q-date>
								</q-popup-proxy>
							</q-icon>
						</template>
					</q-input>
					<q-input style="margin-left:10px" borderless dense debounce="300" v-model="vueData.criteria.text" th:placeholder="#{savedTraining.search}"
							 @input="httpPostAjax('_filterSavedTraining', vueDataParams(['criteria']));">
						<template v-slot:append>
							<q-icon name="search" />
						</template>
					</q-input>
				</vu:slot>
				<vu:slot name="actions_slot">
					<q-btn class="on-right" round color="red" icon="delete" th:aria-label="#{model.savedTraining.delete}" th:title="#{model.savedTraining.delete}"
						   @click="componentStates.savedTraId = props.row.savedTraId; componentStates.showDeleteSavedTrainingPopup = true"></q-btn>
				</vu:slot>
				<vu:include-data object="savedTrainingList" field="name" />
				<vu:include-data object="savedTrainingList" field="description" />
				<vu:include-data object="savedTrainingList" field="creationTime" />
				<vu:include-data object="savedTrainingList" field="traId" />
				<vu:include-data object="savedTrainingList" field="savedTraId" />

				<vu:column field="name"/>
				<vu:column name="version" th:label="#{savedTraining.version}">
					<span v-html="getTrainingVersion(props.row.traId)"></span>
				</vu:column>
				<vu:column field="description"/>
				<vu:column field="creationTime" />
			</vu:table>
			<vu:table id="deployment" th:title="#{model.deployment}" list="nodeList" componentId="nodeList" rowsPerPage="10" autoColClass >

				<vu:slot name="actions_slot">
					<q-btn class="on-right" round color="blue" icon="cloud_upload" th:aria-label="#{savedTraining.deploy}" th:title="#{savedTraining.deploy}"
						   @click="componentStates.noId = props.row.nodId;  ;$refs.deployTraining.show()"></q-btn>
				</vu:slot>
				<vu:include-data object="nodeList" field="nodId" />
				<vu:include-data object="nodeList" field="color" />
				<vu:include-data object="nodeList" field="traId" />

				<vu:column field="name" th:label="#{node.name}">
					<q-chip :style="'background: '+ props.row.color" text-color="white">
						{{props.row.name}}
					</q-chip>
				</vu:column>
				<vu:column field="url"/>
				<vu:column name="savedTrainingName" th:label="#{savedTraining.name}">
					<span v-html="getSavedTrainingName(props.row.traId)"></span>
				</vu:column>
				<vu:column name="version" th:label="#{savedTraining.version}">
					<span v-html="getTrainingVersion(props.row.traId)"></span>
				</vu:column>
			</vu:table>

			<q-dialog v-model="dataX.modalLog.show">
				<q-card style="max-width: 90vw; width: 1200px;">
					<q-card-section class="row items-center">
						<div class="text-h6">Training log N° {{dataX.modalLog.row.versionNumber}}</div>
						<q-space></q-space>
						<q-btn icon="close" flat round dense v-close-popup></q-btn>
					</q-card-section>
					
					<q-separator></q-separator>
					
   					<q-card-section style="max-height: calc(90vh - 90px)" class="scroll">
    					<pre>{{dataX.modalLog.row[dataX.modalLog.col]}}</pre>
    				</q-card-section>
      			</q-card>	
			</q-dialog>
			
			<q-dialog ref="loadModelDialog">
				<q-card style="max-width: 50vw;">
					<q-card-section>
						<div class="text-h6"><span th:text="#{node.deployment.popuptitle}"></span> {{getCurrentTrainingVersionNumber()}}</div>
					</q-card-section>
					
					<q-card-section>
						<p th:text="#{node.deployment.title}"></p>

						<q-chip v-for="node in vueData.nodeList" clickable :selected="isSelected(node)" @update:selected="state => selectNode(node, state)"
							    icon="panorama_fish_eye" :style="'background: '+ node.color" text-color="white">
							<q-badge color="primary" floating style="top: -8px" v-if="node.traId !== undefined && node.traId !== null">V {{getVersionNumberByTrainingId(node.traId)}}</q-badge>
							{{node.name}}
						</q-chip>
					</q-card-section>
					
					<q-card-section>
						<div v-if="!dataX.loadModel.selectedNode" class="text-italic" th:text=#{node.deployment.phrase}></div>
						<div v-if="dataX.loadModel.selectedNode"><span th:text="#{node.deployment.action} + ' '"></span><span v-html="getMigrationAdjective()"></span><span th:text="' ' + #{node.deployment.modelnode} + ' '"></span><span class="text-italic" :style="'color: '+ dataX.loadModel.selectedNode.color">"{{dataX.loadModel.selectedNode.name}}"</span></div>
					</q-card-section>
					
					<q-card-actions align="around">
						<q-btn th:label="#{action.node.cancel}" color="red" v-close-popup></q-btn>
						<q-btn th:label="#{action.node.load}" color="green" :disable="!dataX.loadModel.selectedNode" :loading="dataX.loadModel.processing" @click="trainSelectedNode()" ></q-btn>
					</q-card-actions>
				</q-card>
			</q-dialog>

			<q-dialog ref="saveTrainingModal">
				<q-card>

					<q-card-section>
						<div class="text-h6"><span th:text="#{savedtraining.popuptitle}"></span></div>
					</q-card-section>
					<vu:include-data object="newSavedTraining" field="name"/>
					<vu:include-data object="newSavedTraining" field="description"/>
					<q-card-section>
						<q-input v-model="vueData.newSavedTraining.name" th:label="#{savedTraining.name}" name="vContext[newSavedTraining][name]" />
					</q-card-section>
					<q-card-section>
						<q-input v-model="vueData.newSavedTraining.description" th:label="#{savedTraining.description}" name="vContext[newSavedTraining][description]" />
					</q-card-section>

					<q-card-actions align="around">
						<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
						<q-btn th:label="#{action.build.cancel}" color="red" v-close-popup></q-btn>
						<q-btn th:title="#{action.build.save}" th:label="#{action.build.save}" th:aria-label="#{action.build.save}" @click="saveTraining()" color="primary" v-close-popup></q-btn>
					</q-card-actions>

				</q-card>
			</q-dialog>

			<q-dialog ref="deployTraining" th:attr="dataObject=${model.vContext['componentStates'].addComponentState('noId')}">
				<q-card>
					<vu:include-data object="savedTrainingList" field="'*'"/>
					<th:block th:attr="objectKey=${model.vContext['componentStates'].addComponentState('labels').addObject('filterOptions', {label:null})}" th:remove="all" />
					<q-card-section>
						<div class="text-h6"><span th:text="#{savedTraining.deploy}"></span></div>
					</q-card-section>
					<q-card-section th:attr="objectKey=${model.vContext['componentStates'].addComponentState('savedTrainingToDeploy').addObject('savedTraining', {savedTraId:null})}">
						<q-select
								v-model="componentStates.savedTrainingToDeploy.savedTraining.savedTraId"
								clearable
								filled
								map-options
								emit-value
								use-input
								:options="componentStates.labels.filterOptions"
								th:label="#{savedTraining.version}"
								@filter="filterFn"
								stack-label>
						</q-select>
					</q-card-section>

					<q-card-actions align="around">
						<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
						<q-btn th:label="#{action.deploy.cancel}" color="red" v-close-popup></q-btn>
						<q-btn th:label="#{action.deploy}" color="positive" @click="deploySavedTraining(componentStates.noId, componentStates.savedTrainingToDeploy.savedTraining.savedTraId);" v-close-popup></q-btn>
					</q-card-actions>

				</q-card>
			</q-dialog>



			<q-dialog  ref="trainingDisplayedDialog"  full-width >
				<vu:include-data object="trainingDisplayed" field="log" />
		      	<q-card >
		        	<q-card-section>
		        	  <div class="text-h6" th:text="#{model.traininglogs}"></div>
		        	</q-card-section>

				 	<q-card-section style="max-height: 50vh" class="scroll" v-html="vueData.trainingDisplayed.log">
			     	</q-card-section>

		       		<q-card-actions align="right">
		          		<q-btn flat label="Close" color="primary" v-close-popup />
		        	</q-card-actions>
		      	</q-card>
		    </q-dialog>

		</section>
		
		<section layout:fragment="javascript-footer">
			<script>
				if (VertigoUi.vueData.trainerState.trainingInProgress) {
					postTrain();
				}				
			</script>
		</section>
	</body>
</html>