<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=users, nav=false"
	>
<head>
	<title th:text="#{personChatbot.title}"></title>
	<script type="text/javascript">
	function confirmDelete(person) {
		VUiPage.$q.dialog({
	        title: 'Confirm',
	        message: 'Do you want to remove this person : ' + person.name + ' from this chatbot',
			ok: {
				label: "Remove",
				color: "red"
			},
			cancel: {
				label: "Cancel"
			}
	    }).onOk(() => {
			VUiPage.httpPostAjax("_delete", {'rowId':person.chpId});
	    })
	}
	</script>
</head>
	<body>
		<section layout:fragment="content">
			<!-- Add users -->
			<vu:include-data object="personList" field="perId"/>
			<vu:include-data object="personList" field="name"/>
			<vu:include-data object="chatbotProfilesList" field="chpCd"/>
			<vu:include-data object="chatbotProfilesList" field="label"/>
			<vu:include-data object="selectionList" field="prfId"/>
			<vu:include-data object="selectionList" field="perId"/>
			<vu:block id="add users" th:title="#{personChatbot.addProfil}" >
				<q-select 
					filled
					v-model="vueData.selectionList.perId"
					multiple
					map-options
					emit-value
					:options="transformListForSelection('personList', 'perId', 'name')"
					use-chips
					th:label="#{personChatbot.users}"
					stack-label>
				</q-select>
				</br>
				<q-select
					filled
					map-options
					emit-value
					v-model="vueData.selectionList.prfId"
					:options="transformListForSelection('chatbotProfilesList', 'chpCd', 'label')"
					use-chips
					th:label="#{personChatbot.profil}"
					stack-label>
				</q-select>
				
				<input type="hidden" name="vContext[selectionList][prfId]" :value="vueData.selectionList.prfId" />
				<input v-for="id in vueData.selectionList.perId" type="hidden" name="vContext[selectionList][perId]" :value="id" />
				
				<q-card-actions align="right">
					<vu:button-submit th:title="#{action.add}" th:label="#{action.add}" th:aria-label="#{action.add}" action="@{_addUsers}" class="on-left" color="primary"/>
				</q-card-actions>
			</vu:block>
			<!--  users list -->
			<vu:include-data object="personProfilList" field="chpId"/>
			<vu:table list="personProfilList" th:title="#{personChatbot.profilList}" rowKey="chpId" componentId="personsProfilList" tr_style="cursor : pointer;"
					  sortBy="name" :binary-state-sort="true" >
	  				<vu:slot name="actions_slot">
						<q-btn class="on-right" round color="red" icon="delete" th:aria-label="#{personChatbot.profil.delete}" th:title="#{personChatbot.profil.delete}"
								 @click="confirmDelete(props.row)"></q-btn>
					</vu:slot>
					<vu:column field="name" th:label="#{personChatbot.name}">
						<span style="height:100%" class="row items-center">{{props.row.name}}</span>
					</vu:column>
					<vu:column field="profilLabel" th:label="#{personChatbot.profilLabel}">
						<span style="height:100%" class="row items-center">{{props.row.profilLabel}}</span>
					</vu:column>
			</vu:table>
		</section>
	</body>
</html>