<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/topicDetailLayout}" th:with="nav=true, tab=scriptIntentions"
	>

	<section th:fragment="content-nav">
		<q-item tag="a" href="#script" th:text="#{script.menu.script}"></q-item>
	</section>


	<section th:fragment="content-specific">
		<vu:block id="diagram" th:title="#{script.menu.diagram}">
			<vu:include-data-primitive key="locale"/>
			<vu:include-data object="scriptIntention" field="script" modifiable="true" />
			<vu:include-data object="topic" field="title"/>
			<vu:include-data object="contextValues" field="label" />
			<vu:include-data object="chatbotCustomConfig" field="disableNlu" />
			<div id="scriptintention-buttons">
				<div id="scriptintention-buttons-export-emoji">
					<q-btn class="q-btn-buttons" th:label="#{script.diagram.export}" color="primary" @click="VUiExtensions.methods.exportDiagramToPng()"></q-btn>
					<c-emojipicker class="q-btn-buttons" @emojipicker-event="updateBlocksBlockly()" th::mode-edit="${!model.modeReadOnly}" :locale="vueData.locale" ></c-emojipicker>
					<c-variablepicker object="contextValues" field="label" class="q-btn-buttons" @variablepicker-event="updateBlocksBlockly()" th::mode-edit="${!model.modeReadOnly}" :locale="vueData.locale" ></c-variablepicker>
				</div>
				<div id="scriptintention-buttons-refresh">
					<q-btn id="q-btn-buttons-refresh" th:if="${!model.modeReadOnly}" round icon="refresh" color="secondary" @click="updateDiagram()"></q-btn>
				</div>
			</div>
			<div th:v-if="dataX.diagramHasErrors" style="background-color: #db2828; margin: 10px; color: white; padding: 10px">{{dataX.diagramErrorMessage}}</div>
			<div id="blocklyArea" style="
				margin: 10px;
				height: 700px; position: inherit; z-index: 0">
				<div id="blocklyDiv"></div>
				<input type="hidden" name="vContext[scriptIntention][script]" :value="vueData.scriptIntention.script" />
			</div>
		</vu:block>

		<q-toggle left-label size="lg" th:label="#{script.view}" v-model="dataX.viewScript"></q-toggle>

		<vu:popup action="_delete" vModel="showPopupDeleteTopic" th:message=#{script.popup.message} th:confirm="#{action.delete}"></vu:popup>

		<vu:block id="script" title="Script" v-if="dataX.viewScript">
			<vu:include-data-primitive key="locale"/>
			<vu:include-data object="scriptIntention" field="script" modifiable="true" />
			<div class="editor"></div>
			<c-codemirror-6 th:v-model="${model.util.vueDataKey('scriptIntention', 'script', null)}"></c-codemirror-6>
			<div id="blocklyTool">
				<q-btn th:if="${!model.modeReadOnly}" th:class="q-btn-blockly" class="code" id="from-code" @click="codeToDiagram()" th:text="#{script.diagram.fromcode}"></q-btn>
			</div>
		</vu:block>
	</section>
	<section th:fragment="blockly">
		<section layout:fragment="javascript-functions">
			<script th:src="@{/static/utils/blockly.min.js}"></script>
			<script type="text/javascript" th:inline="javascript">pathMediaBlockly=[[@{/static/blockly/media/}]]</script>
			<script th:src="@{/static/blockly/js/blockly_injection_commons.js}"></script>
			<script th:src="@{/static/blockly/js/chatbot_blocks.js}"></script>
			<script th:src="@{/static/blockly/js/chatbot_gencode.js}"></script>
			<script th:src="@{/static/blockly/js/chatbot_parsecode.js}"></script>
			<script th:src="@{/static/blockly/js/chatbot_custom_renderer.js}"></script>
			<script th:if="${model.locale=='fr_FR'}" th:src="@{/static/blockly/lang/fr.js}"></script>
			<script th:if="${model.locale=='fr_FR'}" th:src="@{/static/blockly/lang/blockly_fr.js}"></script>
			<script th:if="${model.locale!='fr_FR'}" th:src="@{/static/blockly/lang/blockly_en.js}"></script>
			<script type="text/javascript">
				function checkErrors(parsed) {
					if (parsed && parsed.error) {
						VUiExtensions.dataX.diagramHasErrors = true;
						VUiExtensions.dataX.diagramErrorMessage = (VertigoUi.vueData.locale === 'fr_FR'
								? "Le script n'est pas valide, son diagramme ne peut pas être affiché. " : "Script is invalid, diagram couldn't be loaded. ") + parsed.error;
					} else {
						VUiExtensions.dataX.diagramHasErrors = false;
					}
				}
			</script>
			<script  th:if="${!model.modeReadOnly}">
				window.addEventListener('DOMContentLoaded', function () {
					checkErrors(VUiExtensions.methods.injectionBlockly(false))
				});
			</script>
			<script th:if="${model.modeReadOnly}">
				window.addEventListener('DOMContentLoaded', function () {
					checkErrors(VUiExtensions.methods.injectionBlockly(true))
				});
			</script>
			<script type="text/javascript">
				VUiExtensions.methods = {
					...VUiExtensions.methods,

					updateDiagram: function(){
						checkErrors(VUiExtensions.methods.injectionBlockly(false))
					},

					updateBlocksBlockly: function() {
						VUiExtensions.methods.toCode()
						checkErrors(VUiExtensions.methods.fromCode())
					},

					codeToDiagram: function(){
						checkErrors(VUiExtensions.methods.fromCode());
					}
				}
			</script>
		</section>
	</section>
</html>