<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/topicDetailLayout}" th:with="nav=true, tab=scriptIntentions"
	>

	<section th:fragment="content-nav">
		<q-item tag="a" href="#script" th:text="#{script.menu.script}"></q-item>
	</section>



	<section th:fragment="content-specific">
		<vu:block id="diagram" th:title="#{script.menu.diagram}">
			<vu:include-data-primitive key="locale"/>
			<vu:include-data object="scriptIntention" field="script" modifiable="true" />
			<vu:include-data object="topic" field="title"/>
			<vu:include-data object="contextValues" field="label" />
			<vu:include-data object="chatbotCustomConfig" field="disableNlu" />
			<div id="scriptintention-buttons">
				<div id="scriptintention-buttons-export-emoji">
					<q-btn class="q-btn-buttons" th:label="#{script.diagram.export}" color="primary" @click="exportDiagramToPng()"></q-btn>
					<c-emojipicker class="q-btn-buttons" @emojipicker-event="updateBlocksBlockly()" th::mode-edit="${!model.modeReadOnly}" :locale="vueData.locale" ></c-emojipicker>
					<c-variablepicker object="contextValues" field="label" class="q-btn-buttons" @variablepicker-event="updateBlocksBlockly()" th::mode-edit="${!model.modeReadOnly}" :locale="vueData.locale" ></c-variablepicker>
				</div>
				<div id="scriptintention-buttons-refresh">
					<q-btn id="q-btn-buttons-refresh" th:if="${!model.modeReadOnly}" round icon="refresh" color="secondary" @click="updateDiagram()"></q-btn>
				</div>
			</div>
			<div id="blocklyArea" style="
				margin: 10px;
				height: 700px;">
				<div id="blocklyDiv"></div>
				<input type="hidden" name="vContext[scriptIntention][script]" :value="vueData.scriptIntention.script" />
			</div>
		</vu:block>
		<q-toggle left-label size="lg" th:label="#{script.view}" v-model="VUiExtensions.dataX.viewScript"></q-toggle>

		<vu:popup action="_delete" vModel="showPopupDeleteTopic" th:message=#{script.popup.message} th:confirm="#{action.delete}"></vu:popup>

		<vu:block id="script" title="Script" v-if="VUiExtensions.dataX.viewScript">
			<vu:include-data-primitive key="locale"/>
			<vu:include-data object="scriptIntention" field="script" modifiable="true" />

			<c-codemirror object="scriptIntention" field="script" th::mode-edit="${!model.modeReadOnly}" :locale="vueData.locale"></c-codemirror>
			<div id="blocklyTool">
				<q-btn th:if="${!model.modeReadOnly}" th:class="q-btn-blockly" class="code" id="from-code" @click="codeToDiagram()" th:text="#{script.diagram.fromcode}"></q-btn>
			</div>
		</vu:block>
	</section>
	<section th:fragment="blockly">
		<script th:src="@{/static/utils/blockly.min.js}"></script>
		<script th:src="@{/static/blockly/js/chatbot_blocks.js}"></script>
		<script th:src="@{/static/blockly/js/chatbot_gencode.js}"></script>
		<script th:src="@{/static/blockly/js/chatbot_parsecode.js}"></script>
		<script th:src="@{/static/blockly/js/chatbot_custom_renderer.js}"></script>
		<script th:if="${model.locale=='fr_FR'}" th:src="@{/static/blockly/lang/fr.js}"></script>
		<script th:if="${model.locale=='fr_FR'}" th:src="@{/static/blockly/lang/blockly_fr.js}"></script>
		<script th:if="${model.locale!='fr_FR'}" th:src="@{/static/blockly/lang/blockly_en.js}"></script>
		<script th:src="@{/static/blockly/js/blockly_injection_commons.js}"></script>
		<script  th:if="${!model.modeReadOnly}">
			injectionBlockly(false)
		</script>
		<script th:if="${model.modeReadOnly}">
			injectionBlockly(true)
		</script>
		<script type="text/javascript">
			function codeToDiagram(){
				fromCode();
			}
			function updateDiagram(){
				injectionBlockly(false)
			}
			function updateBlocksBlockly(){
				toCode()
				fromCode()
			}
			function exportDiagramToPng() {
				var coeffDiagramToPng = 1/workspace.getScale()
				var svgElement = document.createElementNS("http://www.w3.org/2000/svg", "svg");
				svgElement.innerHTML = workspace.getCanvas().innerHTML;

				// Stylized the svg element to fit with Blockly zelos constants
				svgElement.querySelectorAll('.blocklyText').forEach(textElement => {
					textElement.setAttribute("style", "fill: white; font-family: 'Helvetica Neue';")
				})
				svgElement.querySelectorAll('rect').forEach(textElement => {
					textElement.setAttribute("style", "fill: white;")
				})
				svgElement.querySelectorAll("g.blocklyEditableText, g.blocklyNonEditableText").forEach(element => {
					element.querySelectorAll('.blocklyText').forEach(textElement =>{
						textElement.setAttribute("style", "fill: black; font-family: 'Helvetica Neue';")
					})
				})

				// Creation of the canvas with the context 2d (image png)
				var canvas = document.createElement("canvas");
				canvas.width = document.getElementsByClassName('blocklyBlockCanvas')[0].getBoundingClientRect().width * coeffDiagramToPng
				canvas.height = document.getElementsByClassName('blocklyBlockCanvas')[0].getBoundingClientRect().height * coeffDiagramToPng
				var context = canvas.getContext("2d");
				context.fillStyle = "#FFFFFF";
				context.fillRect(0, 0, canvas.width, canvas.height);

				var svgString = new XMLSerializer().serializeToString(svgElement);
				var utf8Bytes = new TextEncoder().encode(svgString);
				var base64Svg = Base64.fromUint8Array(utf8Bytes)
				var svgDataUrl = "data:image/svg+xml;base64," + base64Svg;

				var image = new Image();
				image.src = svgDataUrl;
				// Draw the image onto the canvas
				image.onload = function() {
					context.drawImage(image, 0, 0);
					var pngDataUrl = canvas.toDataURL("image/png");

					var link = document.createElement("a");
					link.href = pngDataUrl;
				 	if(VertigoUi.vueData.topic.title)link.download = VertigoUi.vueData.topic.title.replace(/ /g,'_').toLowerCase().concat(VertigoUi.vueData.locale ==='fr_FR' ? '_intention' : '_topic') + ".png";
					else link.download = 'diagram.png'
					link.click();
				};

			}
		</script>
	</section>
</html>