<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/topicDetailLayout}" th:with="nav=true, tab=scriptIntentions"
	>

	<section th:fragment="content-nav">
		<q-item tag="a" href="#script" th:text="#{script.menu.script}"></q-item>
	</section>

	<section th:fragment="content-specific">
		<vu:popup action="_delete" vModel="showPopupDeleteTopic" th:message=#{script.popup.message} th:confirm="#{action.delete}"></vu:popup>

		<vu:block id="script" title="Script">
			<vu:include-data-primitive key="locale"/>
			<vu:include-data object="scriptIntention" field="script" modifiable="true" />

			<c-codemirror object="scriptIntention" field="script" th::mode-edit="${!model.modeReadOnly}" :locale="vueData.locale"></c-codemirror>

		</vu:block>

	</section>


	<section th:fragment="content-specific" style="margin: 20px 0px">
		<vu:block id="diagram" title="Diagram">
			<vu:include-data-primitive key="locale"/>
			<vu:include-data object="scriptIntention" field="script" modifiable="true" />
			<q-btn label="Exporter diagramme en PNG" color="primary" @click="exportToPng()" ></q-btn>
			<div id="blocklyArea" style="
				margin: 10px;
				height: 650px;">
				<div id="blocklyDiv"></div>
			</div>
			<div id="blocklyTool">
				<q-btn th:if="${!model.modeReadOnly}" th:class="q-btn-blockly"  class="code" id="to-code" @click="diagramToCode()" th:text="#{script.diagram.tocode}"></q-btn>
				<q-btn th:if="${!model.modeReadOnly}" th:class="q-btn-blockly" class="code" id="from-code" @click="codeToDiagram()" th:text="#{script.diagram.fromcode}"></q-btn>
			</div>
		</vu:block>
	</section>
</html>