<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="nav=true, tab=smallTalks"
	>
	
	<head>
		<title>Small talk detail</title>
	</head>
	
	<body>
		<section layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" url="@{/bot/{id}/smallTalk/(id=${model.bot.botId})} + ${model.smallTalk.smtId}" ariaLabel="Cancel" icon="fas fa-ban"
							class="on-left text-accent-inverted" :round size="lg" color="primary" :flat />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" ariaLabel="Edit" icon="edit"
							class="on-left" :round size="lg" color="primary" />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_delete}" ariaLabel="Delete" icon="delete"
							class="on-left" :round size="lg" color="red" />
		</section>
		
		<section layout:fragment="content-nav">
			<q-item tag="a" href="#detail">Informations</q-item>
			<q-item tag="a" href="#training">Training sentences</q-item>
			<q-item tag="a" href="#answers">Answers</q-item>
		</section>
		
		<section layout:fragment="content">
			
			<vu:block id="detail" title="Informations">
				<vu:text-field object="smallTalk" field="title" />
				
				<vu:label object="smallTalk" field="isEnabled">
					<vu:include-data object="smallTalk" field="isEnabled" />
					<q-input v-model="vueData.smallTalk.isEnabled" name="vContext[smallTalk][isEnabled]" class="hidden" ></q-input>
					
					<q-toggle v-model="vueData.smallTalk.isEnabled" th::disable="${model.modeReadOnly}"></q-toggle>
				</vu:label>
			</vu:block>
			
			<vu:block id="training" title="Training sentences">
				<vu:include-data-primitive key="newNluTrainingSentence" />
				<vu:include-data object="nluTrainingSentences" field="text" />
				
				<div th:if="${!model.modeReadOnly}">
					<q-input v-model="vueData.newNluTrainingSentence" @keydown.enter.prevent="if (vueData.newNluTrainingSentence.trim().length > 0) httpPostAjax('_addTrainingSentence', {'vContext[newNluTrainingSentence]':vueData.newNluTrainingSentence})"
						placeholder="Add training sentence"
						:before="[{icon: 'format_quote'}]"
						q-if>
					</q-input>
				</div>
				<q-list highlight dense>
					<q-item v-for="(nluTrainingSentence, index) in vueData.nluTrainingSentences.slice().reverse()">
						<q-item-section avatar th:if="${model.modeReadOnly}">
				        	<q-icon color="black" name="format_quote" />
				        </q-item-section>
						<q-item-section side left th:if="${!model.modeReadOnly}">
							<q-btn @click="httpPostAjax('_removeTrainingSentence', {'index':vueData.nluTrainingSentences.length - 1 - index})"
								color="primary" dense size="md" icon="delete" class="bg-red" aria-label="Remove" title="Remove"></q-btn>
						</q-item-section>
						<q-item-section class="cursor-pointer">
							{{nluTrainingSentence.text}}
							<q-popup-edit th:if="${!model.modeReadOnly}"
										  v-model="nluTrainingSentence.text"
										  @save="function(value, initialValue) {
													httpPostAjax('_editTrainingSentence',
														 {'vContext[newNluTrainingSentence]':value, 'index':vueData.nluTrainingSentences.length - 1 - index}
													).then(function() {
													 	if (uiMessageStack.globalErrors.length > 0) {
													 		nluTrainingSentence.text = initialValue;
													 	}
													 });
												}">
								<q-input v-model="nluTrainingSentence.text" dense autofocus />
							</q-popup-edit>
						</q-item-section>
					</q-item>
				</q-list>
			</vu:block>
			
			<vu:block id="answers" title="Answers">
				<vu:include-data-primitive key="newUtterText" />
				<vu:include-data object="utterTexts" field="text" />
			
				<div th:if="${!model.modeReadOnly}">
					<q-input v-model="vueData.newUtterText" @keydown.enter.prevent="if (vueData.newUtterText.trim().length > 0) httpPostAjax('_addUtterText', {'vContext[newUtterText]':vueData.newUtterText})"
						placeholder="Add possible answer"
						:before="[{icon: 'format_quote'}]">
					</q-input>
				</div>
				<q-list highlight>
					<q-item v-for="(utterText, index) in vueData.utterTexts.slice().reverse()">
						<q-item-section avatar th:if="${model.modeReadOnly}">
				        	<q-icon color="black" name="format_quote" />
				        </q-item-section>
						<q-item-section side left th:if="${!model.modeReadOnly}">
							<q-btn @click="httpPostAjax('_removeUtterText', {'index':vueData.utterTexts.length - 1 - index})"
									color="primary" dense size="md" icon="delete" class="bg-red" aria-label="Remove" title="Remove"></q-btn>
						</q-item-section>
						<q-item-section class="cursor-pointer">
							{{utterText.text}}
							<q-popup-edit th:if="${!model.modeReadOnly}"
										  v-model="utterText.text"
										  @save="function(value, initialValue) {
													httpPostAjax('_editUtterText',
														 {'vContext[newUtterText]':value, 'index':vueData.utterTexts.length - 1 - index}
													).then(function() {
													 	if (uiMessageStack.globalErrors.length > 0) {
													 		utterText.text = initialValue;
													 	}
													 });
												}">
								<q-input v-model="utterText.text" dense autofocus />
							</q-popup-edit>
						</q-item-section>
					</q-item>
				</q-list>
			</vu:block>
			
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" /> 
			</q-page-sticky>
			
		</section>
	</body>
</html>