<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=smallTalks"
	>
	
	<head>
		<title>Intent List</title>
	</head>
	
	<body>
		<section layout:fragment="content-header-actions">
			<vu:button-link url="@{/bot/{id}/smallTalk/new(id=${model.bot.botId})}" ariaLabel="Add intent" icon="add"
							class="on-left" round size="lg" color="primary" />
		</section>
		
		<section layout:fragment="page-content">
			<vu:table list="intents" componentId="intentsList" tr_@click.native="|goTo('@{/bot/{id}/smallTalk/(id=${model.bot.botId})}'+props.row.intId)|" tr_style="cursor : pointer;">
					<vu:include-data object="intents" field="intId" />
					<vu:column field="isEnabled" style="width:100px;">
						<q-icon name="check" color="green" size="2rem" v-if="props.row.isEnabled"></q-icon>
						<q-icon name="block" color="red" size="2rem" v-if="!props.row.isEnabled"></q-icon>
					</vu:column>
					<vu:column field="title" />
			</vu:table>
		</section>
	</body>
</html>