<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/topicDetailLayout}" th:with="nav=true, tab=smallTalks"
	>

	<section th:fragment="content-nav">
		<vu:include-data object="topic" field="isTechnical" />
		<q-item tag="a" href="#response" th:text="#{smallTalk.menu.responses}"></q-item>
		<q-item tag="a" href="#conversationOver" th:text="#{smallTalk.menu.isEndMini}" v-if="vueData.topic.isTechnical == false"></q-item>
	</section>
		
	<section th:fragment="content-specific">
		<vu:include-data object="topic" field="isTechnical" />
		<vu:popup action="_delete" vModel="showPopupDeleteTopic" th:message="#{smalltalk.popup.message}" th:confirm="#{action.delete}"></vu:popup>

		<vu:block id="response" th:title="#{smallTalk.menu.responses}">
			<vu:include-data object="utterTexts" field="text" modifiableAllLines="true" />
			<vu:include-data object="responseTypes" field="'*'" />

			<div class="hidden">
				<vu:text-field-edit object="smallTalk" field="rtyId" />
			</div>

			<vu:include-data-primitive key="locale"/>

			<div th:if="${!model.modeReadOnly}">
				<q-btn-toggle
					@click="updateDiagramSwitchType()"
					class="q-mb-md"
					v-model="vueData.smallTalk.rtyId"
					toggle-color="primary"
					:options= 'vueData.locale == "fr_FR" ? transformListForSelection("responseTypes", "rtyId", "labelFr") : transformListForSelection("responseTypes", "rtyId", "label")'
				></q-btn-toggle>
				<q-icon
					v-if="vueData.smallTalk.rtyId === 'RICH_TEXT' && getUtterTextResolvedList().length > 2"
					name="warning" class="vertical-top q-ma-xs text-orange" style="font-size: 2rem;">
					<q-tooltip content-class="q-tooltip-text" th:text="#{action.save.errorMessage}">
					</q-tooltip>
				</q-icon>
			</div>

			<div v-if="vueData.smallTalk.rtyId === 'RICH_TEXT'" class="row wrap">
				<vu:include-data object="chatbotCustomConfig" field="botMessageBackgroundColor" />
				<vu:include-data object="chatbotCustomConfig" field="botMessageFontColor" />
				<c-richtext
					v-model="vueData.utterTexts[0].text"
					name="vContext[utterTexts][0][text]"
					th::mode-edit="${!model.modeReadOnly}"
					:locale="vueData.locale"
					class="q-pb-sm">
				</c-richtext>
				<c-chatbottextexample
					v-model="vueData.utterTexts[0].text">
				</c-chatbottextexample>
			</div>

			<div v-if="vueData.smallTalk.rtyId === 'RANDOM_TEXT'">
				<q-list th:if="${!model.modeReadOnly}">
					<q-item v-for="(utterText, index) in getUtterTextResolvedList()" dense>
						<q-item-section side left th:if="${!model.modeReadOnly}" style="width:40px">
							<q-btn @click="vueData.utterTexts.splice(index, 1); vueData.utterTexts.push({});"
								v-if="index < getUtterTextResolvedList().length - 1 || utterText.text"
								tabindex="-1"
								color="primary" dense size="sm" icon="delete" class="bg-grey" th:aria-label="#{action.remove}" th:title="#{action.remove}"></q-btn>
						</q-item-section>
						<q-item-section side left th:if="${!model.modeReadOnly}" style="width:40px">
							<q-btn tabindex="-1"
								color="primary" dense size="sm" icon="edit" class="bg-grey" th:aria-label="#{action.edit}" th:title="#{action.edit}">

								<q-popup-edit v-model="utterText.text"
											  buttons label-set="Save" label-cancel="Cancel"
											  @save="addMoreUtterTextIfNeeded"
											  anchor="top left">
									<div class="row wrap">
										<c-richtext
												v-model="utterText.text"
												name="utterText.text"
												class="q-pb-sm">
										</c-richtext>
										<c-chatbottextexample
												v-model="utterText.text">
										</c-chatbottextexample>
									</div>
								</q-popup-edit>
							</q-btn>
						</q-item-section>
						<q-item-section class="cursor-pointer">
							<q-input
								v-model="utterText.text"
								:ref="'utter_input_'+index"
								:name="'vContext[utterTexts]['+index+'][text]'"
								placeholder="Enter text variant" dense
								@update:model-value="addMoreUtterTextIfNeeded"
								@keydown.enter.prevent="() => {
									if (index < getUtterTextResolvedList().length - 1) {
									 	$refs['utter_input_'+(index+1)][0].focus()
									}
								}"
								>
								</q-input>
						</q-item-section>
					</q-item>
				</q-list>

				<div th:if="${model.modeReadOnly}">
					<q-list>
						<q-item v-for="(utterText, index) in vueData.utterTexts.slice(0, -1)" dense>
							<q-item-section avatar>
								<q-icon color="black" name="fas fa-dice"></q-icon>
							</q-item-section>
							<q-item-section class="row wrap">
								<c-richtext
									v-model="utterText.text"
									name="utterText.text"
									:mode-edit="false">
								</c-richtext>
								<c-chatbottextexample
										v-model="utterText.text">
								</c-chatbottextexample>
							</q-item-section>
						</q-item>
					</q-list>
				</div>

			</div>


		</vu:block>

		<vu:block id="conversationOver" title="#{smallTalk.menu.isEnd}" v-if="vueData.topic.isTechnical == false">
			<vu:label object="smallTalk" field="isEnd">
				<vu:include-data object="smallTalk" field="isEnd" modifiable="true" />
				<q-input v-model="vueData.smallTalk.isEnd" name="vContext[smallTalk][isEnd]" class="hidden" ></q-input>
				<q-toggle v-model="vueData.smallTalk.isEnd" th::disable="${model.modeReadOnly}"></q-toggle>
			</vu:label>
		</vu:block>

	</section>
</html>