<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=categories"
	>
	
	<head>
		<title th:text="#{topicCategory.title}"></title>
	</head>
	
	<body>
		<section layout:fragment="content-actions">
			<q-form method="post" action="_exportCategories">
				<vu:button-link th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" url="@{/bot/{id}/category/new(id=${model.bot.botId})}" th:ariaLabel="#{action.add}" icon="add"
								class="on-left" round size="md" color="primary" />
				<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
				<q-btn type="submit" th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="md"
					   icon="file_upload" th:aria-label="#{action.export}" th:title="#{action.export}"></q-btn>
				<q-btn th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="md"
					   icon="file_download" th:aria-label="#{action.import}" th:title="#{action.import}"
					   @click="$refs.importCategories.show()"></q-btn>
			</q-form>
		</section>
		
		<section layout:fragment="content">
			<div class="text-h6 text-weight-bold" style="display: flex; align-items: center" >
				<span class="text-primary" style="flex-grow: 2">[[#{layout.category}]]</span>
				<q-icon name="help_outlined" size="2rem"/>
				<q-tooltip content-class="q-tooltip-text">[[#{topicCategory.tooltip}]]</q-tooltip>
			</div>
			<vu:table list="topicCategories" componentId="topicCategoriesList" tr_@click.native="|goTo('@{/bot/{id}/category/(id=${model.bot.botId})}'+props.row.topCatId)|" tr_style="cursor : pointer;"
					  sortBy="label" :binary-state-sort="true">
					<vu:include-data object="topicCategories" field="topCatId" />
					<vu:include-data object="topicCategories" field="code" />
					<vu:column field="label">
						<a th::href="|'@{/bot/{id}/category/(id=${model.bot.botId})}'+props.row.topCatId|"
						   style="display:block; height:100%; width:100%; text-decoration:none; color:black;"
						   >
						   <span style="height:100%" class="row items-center">{{props.row.label}}</span>
						</a>
					</vu:column>
					<vu:column field="code"/>
					<vu:column field="isEnabled" style="width:100px;">
						<q-icon name="check" color="green" size="2rem" v-if="props.row.isEnabled"></q-icon>
						<q-icon name="block" color="red" size="2rem" v-if="!props.row.isEnabled"></q-icon>
					</vu:column>
			</vu:table>

			<q-dialog ref="importCategories" th:with="viewMode='edit'" >
				<q-card>
					<q-form method="post" action="_importCategories">
						<q-card-section>
							<div class="text-h6" th:text="#{popup.import.title}"></div>
						</q-card-section>

						<vu:include-data-primitive key="locale" />
						<vu:fileupload th:url="'@{/commons/upload}'" key="importCategoriesFileUri" multiple="false"  th:with="object=null, field=null"/>

						<q-card-actions align="around">
							<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
							<q-btn flat th:label="#{action.cancel}" color="primary" v-close-popup ></q-btn>
							<q-btn type="submit" th:title="#{action.confirm}" th:label="#{action.confirm}" th:aria-label="#{action.confirm}" color="primary" ></q-btn>
						</q-card-actions>
					</q-form>
				</q-card>
			</q-dialog>
		</section>
	</body>
</html>