<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=categories"
	>
	
	<head>
		<title th:text="#{topicCategory.title}"></title>
	</head>
	
	<body>
		<section layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" url="@{/bot/{id}/category/new(id=${model.bot.botId})}" ariaLabel="add new category" icon="add"
							class="on-left" round size="lg" color="primary" />
		</section>
		
		<section layout:fragment="page-content">
			<vu:table list="topicCategories" componentId="topicCategoriesList" tr_@click.native="|goTo('@{/bot/{id}/category/(id=${model.bot.botId})}'+props.row.topCatId)|" tr_style="cursor : pointer;"
					  sortBy="label" :binary-state-sort="true">
					<vu:include-data object="topicCategories" field="topCatId" />
					<vu:column field="isEnabled" style="width:100px;">
						<q-icon name="check" color="green" size="2rem" v-if="props.row.isEnabled"></q-icon>
						<q-icon name="block" color="red" size="2rem" v-if="!props.row.isEnabled"></q-icon>
					</vu:column>
					<vu:column field="label">
						<a th::href="|'@{/bot/{id}/category/(id=${model.bot.botId})}'+props.row.topCatId|"
						   style="display:block; height:100%; width:100%; text-decoration:none; color:black;"
						   >
						   <span style="height:100%" class="row items-center">{{props.row.label}}</span>
						</a>
					</vu:column>
			</vu:table>
		</section>
	</body>
</html>