<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=topics"
	>
	
	<head>
		<title>Topic List</title>
		<script th:inline="javascript">
			function redirectDetail(row) {
			// voir https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#script-inlining-javascript-and-dart
				var url;
				if (row.ttoCd === 'SMALLTALK'){
					var smallTalkUrl = /*[[@{/bot/{id}/smallTalk/(id=${model.bot.botId})}]]*/ '';
					url = smallTalkUrl + row.smtId					
				}
				else if (row.ttoCd === 'SCRIPTINTENTION'){
					var scriptInscriptionUrl = /*[[@{/bot/{id}/scriptIntention/(id=${model.bot.botId})}]]*/ '';
					url = scriptInscriptionUrl +row.sinId;
				}
				return url;
			}
			
		</script>
		
		
	</head>
	
	<body>
		<section layout:fragment="content-header-actions">
			<q-btn th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="lg" icon="add" aria-label="Add" title="Add" 
					       @click="vueData.newTopic = Vue.util.extend({}, vueData.newTopic); $refs.newTopic.show()"></q-btn>				
		</section>
		
		<section layout:fragment="page-content">
			<vu:messages/>
			<vu:table list="topicsIhm" componentId="topicsList" tr_@click.native="goTo(redirectDetail(props.row))" tr_style="cursor : pointer;"
					  sortBy="title" :binary-state-sort="true" >
					  <vu:include-data object="topicsIhm" field="smtId" />
					  <vu:include-data object="topicsIhm" field="sinId" />
					  <vu:include-data object="topicsIhm" field="ttoCd" />
					<vu:include-data object="topicsIhm" field="topId" />
					<vu:column field="isEnabled" style="width:100px;">
						<q-icon name="check" color="green" size="2rem" v-if="props.row.isEnabled"></q-icon>
						<q-icon name="block" color="red" size="2rem" v-if="!props.row.isEnabled"></q-icon>
					</vu:column>
					<vu:column field="title">
						<a :href="redirectDetail(props.row)"
						   style="display:block; height:100%; width:100%; text-decoration:none; color:black;"
						   >
						   <span style="height:100%" class="row items-center">{{props.row.title}}</span>
						</a>
					</vu:column>
					<vu:column field="catLabel">
					   <span style="height:100%" class="row items-center">{{props.row.catLabel}}</span>
					</vu:column>
					<vu:column field="type" sortable="true" />
			</vu:table>
			
			<q-dialog ref="newTopic" th:with="viewMode='edit'" >
				<q-card>
					<q-form method="post" action="createTopic">
					<q-card-section>
						<div class="text-h6">New topic</div>
						
					</q-card-section>
					<q-card-section style="width: 400px;">
						<vu:include-data object="typeTopicList" field="ttoCd"/>
						<vu:include-data object="typeTopicList" field="label"/>
						<q-select
							filled
							map-options
							emit-value
							v-model="vueData.selectionList"
							:options="transformListForSelection('typeTopicList', 'ttoCd', 'label')"
							label="Type Topic"
							stack-label>
						</q-select>
					</q-card-section>
					<input type="hidden" name="vContext[selectionList]" :value="vueData.selectionList" />
					
					<q-card-actions align="around">
						
							<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
							<q-btn flat label="Cancel" color="primary" v-close-popup ></q-btn>
							<q-btn type="submit" title="Confirm" label="Confirm" aria-label="Confirm" color="primary" ></q-btn> 
					
					</q-card-actions>
					</q-form>
				</q-card>
			</q-dialog>
			
		</section>
	</body>
</html>