<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="nav=true, tab=categories"
	>
	
	<head>
		<title th:text="#{topicCategory.title}"></title>
	</head>
	
	<body>
		<section layout:fragment="content-actions">
			<vu:include-data object="topicCategory" field="code" />
			<vu:button-link th:if="${model.modeEdit}" url="@{/bot/{id}/category/(id=${model.bot.botId})} + ${model.topicCategory.topCatId}" ariaLabel="Cancel" icon="fas fa-ban"
							class="on-left text-accent-inverted" :round size="md" color="primary" :flat />
			<vu:button-submit th:if="${model.modeReadOnly && model.userAuthorizations[AtzChatbot$botAdm] && model.topicCategory.code != 'DEFAULT'}" action="@{_edit}" ariaLabel="Edit" icon="edit"
							class="on-left" :round size="md" color="primary" />
			<q-btn th:if="${model.modeReadOnly && model.userAuthorizations[AtzChatbot$botAdm] && model.topicCategory.code != 'DEFAULT'}" @click="componentStates.showPopup = true" th:ariaLabel="#{action.delete}" th:title="#{action.delete}" icon="delete"
							class="on-left" round size="md" color="red" ></q-btn>
		</section>
				
		<section layout:fragment="content">
			<vu:popup action="_delete" vModel="showPopup" message="#{topicCategory.popup.message}" confirm="#{action.confirm}"></vu:popup>

			<vu:block id="detail" title="Informations">
				<vu:grid cols="2">
					<vu:text-field object="topicCategory" field="label" />
					<vu:text-field object="topicCategory" field="code"/>
					<vu:label object="topicCategory" field="isEnabled">
						<vu:include-data object="topicCategory" field="isEnabled" modifiable="true" />
						<q-input v-model="vueData.topicCategory.isEnabled" name="vContext[topicCategory][isEnabled]" class="hidden" ></q-input>
					
						<q-toggle v-model="vueData.topicCategory.isEnabled" th::disable="${model.modeReadOnly}"></q-toggle>
					</vu:label>
				</vu:grid>
			</vu:block>

			<div style="display:flex; justify-content: flex-end">
				<q-btn color="primary" round icon="add"
					   th:aria-label="#{action.add}"
					   th:if="${model.userAuthorizations[AtzChatbot$botSuperAdmin]}"
					   th:title="#{action.add}"
					   @click.stop="$refs.otherTopicsDialog.show()"
				></q-btn>
			</div>

			<vu:table list="topics" componentId="topicsList" sortBy="title" :binary-state-sort="true"
					  tr_@click.native="|goTo('@{/bot/{id}/topics/detail/(id=${model.bot.botId})}'+props.row.topId)|" tr_style="cursor : pointer;">
				<vu:slot name="actions_slot">
					<q-btn class="on-right" round color="red" icon="playlist_remove"
						   th:if="${model.userAuthorizations[AtzChatbot$botAdm]}"
						   @click.stop="vueData.topicId = props.row.topId;
						   vueData.newTopCatId = null;
						   $refs.topicCategoriesDialog.show()">
					</q-btn>
				</vu:slot>
				<vu:include-data object="topics" field="topId" />
				<vu:include-data object="topics" field="code" />

				<vu:column field="title">
					<a th::href="|'@{/bot/{id}/topics/detail/(id=${model.bot.botId})}'+props.row.topId|"
					   style="display:block; height:100%; width:100%; text-decoration:none; color:black;"
					>
						<span style="height:100%" class="row items-center">{{props.row.title}}</span>
					</a>
				</vu:column>
				<vu:column field="code" />
			</vu:table>

			<q-dialog ref="topicCategoriesDialog">
				<vu:include-data object="allTopicCategories" field="label" />
				<vu:include-data object="allTopicCategories" field="topCatId" />
				<vu:include-data object="topicCategory" field="*" />
				<vu:include-data-primitive key="topicId" />
				<vu:include-data-primitive key="newTopCatId" />
				<q-card>
					<q-card-section>
						<div class="text-h6" style="text-align: center">
                    		<span th:text="#{topic.categoryChange.popup.title}"></span>
						</div>
					</q-card-section>
					<q-card-section>
						<q-list padding class="overflow-auto">
							<q-item  v-for="(item, index) in vueData.allTopicCategories"
									 :style="{ backgroundColor: vueData.newTopCatId === item.topCatId ? 'lightgray' : '' }"
									 v-if="item.topCatId !== vueData.topicCategory.topCatId"
									 :key="index"
									 clickable
									 v-ripple
									 @click="vueData.newTopCatId = item.topCatId">
								<q-item-section >
									{{ item.label }}
								</q-item-section>
							</q-item>
						</q-list>
					</q-card-section>
					<q-card-actions align="around">
						<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
						<q-btn th:label="#{action.cancel}" color="red" v-close-popup></q-btn>
						<q-btn th:title="#{action.save}" th:label="#{action.save}" th:aria-label="#{action.save}"
							   @click="httpPostAjax('_saveTopicCategoryChange', vueDataParams(['topicId,newTopCatId']));"
							   color="primary" v-close-popup
							   :disabled="vueData.newTopCatId === null"></q-btn>
					</q-card-actions>
				</q-card>
			</q-dialog>

			<q-dialog ref="otherTopicsDialog">
				<q-card>
					<q-card-section>
						<div class="text-h6" style="text-align: center">
							<span th:text="#{topic.categoryChange.popup.title}"></span>
						</div>
					</q-card-section>
					<q-card-section>
						<vu:table list="otherCategoriesTopics" componentId="allTopics" th:attr="selectable=${model.userAuthorizations[AtzChatbot$botContributor]}" >
							<vu:include-data object="otherCategoriesTopics" field="*" />
							<vu:column field="title"/>
							<vu:column field="code"/>
						</vu:table>
					</q-card-section>
				</q-card>
			</q-dialog>

			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" th:label="#{action.save}" action="@{_save}" size="lg" color="primary" />
			</q-page-sticky>
	</body>
</html>