<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/botDetailLayout}" th:with="tab=topics"
	>
	
	<head>
		<title th:text="#{topic.title.page}"></title>
		<script th:inline="javascript">
			function redirectDetail(row) {
			// voir https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#script-inlining-javascript-and-dart
				var url;
				if (row.ttoCd === 'SMALLTALK'){
					var smallTalkUrl = /*[[@{/bot/{id}/smallTalk/(id=${model.bot.botId})}]]*/ '';
					url = smallTalkUrl + row.smtId					
				}
				else if (row.ttoCd === 'SCRIPTINTENTION'){
					var scriptInscriptionUrl = /*[[@{/bot/{id}/scriptIntention/(id=${model.bot.botId})}]]*/ '';
					url = scriptInscriptionUrl +row.sinId;
				}
				return url;
			}
			
			function normalizeString(str) {
				if (str)
					return str.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase();
				else
					return '';
			}
			
			
			function filter() {
				let searchNormarlized = normalizeString(VertigoUi.componentStates.topics.pagination.search);
				if (searchNormarlized ===''){
					return VertigoUi.vueData.topicsIhm
				}
				return VertigoUi.vueData.topicsIhm
						// copy and reverse
						.slice().reverse()
						// search
						.filter(topic => normalizeString(topic.title).includes(searchNormarlized))
						
			}
			
		</script>
		
		
	</head>
	
	<body>
		<section layout:fragment="content-header-actions">
			<q-btn th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="lg" icon="add" th:aria-label="#{action.add}" th:title="#{action.add}" 
					       @click="vueData.newTopic = Vue.util.extend({}, vueData.newTopic); $refs.newTopic.show()"></q-btn>	
					      
			<q-btn th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="lg" icon="file_upload" th:aria-label="#{action.export}" th:title="#{action.export}" 
					       @click="$refs.exportTopic.show()"></q-btn>	
					       		       		
			<q-btn th:if="${model.userAuthorizations[AtzChatbot$botAdm]}" class="fab-block" round color="primary" size="lg" icon="file_download" th:aria-label="#{action.import}" th:title="#{action.import}" 
					       @click="$refs.importTopic.show()"></q-btn>	
							
					
		</section>
		
		<section layout:fragment="page-content">
			<vu:messages/>
			
			<div class="col-12">
			
		
				<vu:search-table
					data='filter()'
					rowKey='topId'
					componentId='topics'
					sortBy='title'>
					 	<vu:column-sample list=topicsIhm field=isEnabled classes='col_STyYesNo'>
							<q-icon name="check" color="green" size="2rem" v-if="props.row.isEnabled"></q-icon>
							<q-icon name="block" color="red" size="2rem" v-if="!props.row.isEnabled"></q-icon>												 	
					 	</vu:column-sample>

						<vu:column-sample list=topicsIhm field=title >
							<a :href="redirectDetail(props.row)"
							   style="display:block; height:100%; width:100%; text-decoration:none; color:black;"
						   	>
						   		<span style="height:100%" class="row items-center">{{props.row.title}}</span>
							</a>
						</vu:column-sample>
						<vu:column-sample list=topicsIhm field=catLabel/>
						<vu:column-sample list=topicsIhm field=labels />
						<vu:column-sample list=topicsIhm field=type  />
				</vu:search-table>
			</div>
			
			<q-dialog ref="newTopic" th:with="viewMode='edit'" >
				<q-card>
					<q-form method="post" action="createTopic">
					<q-card-section>
						<div class="text-h6" th:text="#{topic.title.popup}"></div>
						
					</q-card-section>
					
					<vu:include-data-primitive key="locale" />
					<q-card-section style="width: 400px;">
						<vu:include-data object="typeTopicList" field="'*'"/>
						<q-select
							filled
							map-options
							emit-value
							v-model="vueData.selectionList"
							:options="vueData.locale == 'fr_FR' ? transformListForSelection('typeTopicList', 'ttoCd', 'labelFr') : transformListForSelection('typeTopicList', 'ttoCd', 'label')"
							th:label="#{topic.type}"
							stack-label>
						</q-select>
					</q-card-section>
					<input type="hidden" name="vContext[selectionList]" :value="vueData.selectionList" />
					
					<q-card-actions align="around">
							<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
							<q-btn flat th:label="#{action.cancel}" color="primary" v-close-popup ></q-btn>
							<q-btn type="submit" th:title="#{action.confirm}" th:label="#{action.confirm}" th:aria-label="#{action.confirm}" color="primary" ></q-btn> 
					</q-card-actions>
					</q-form>
				</q-card>
			</q-dialog>
			
			<q-dialog ref="importTopic" th:with="viewMode='edit'" >
				<q-card>
					<q-form method="post" action="_importTopic">
					<q-card-section>
						<div class="text-h6" th:text="#{popup.import.title}"></div>						
					</q-card-section>
					
					<vu:include-data-primitive key="locale" />
					<vu:fileupload th:url="'@{/commons/upload}'" key="importTopicFileUri" multiple="false"/>
				
					
					
					<q-card-actions align="around">
							<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
							<q-btn flat th:label="#{action.cancel}" color="primary" v-close-popup ></q-btn>
							<q-btn type="submit" th:title="#{action.confirm}" th:label="#{action.confirm}" th:aria-label="#{action.confirm}" color="primary" ></q-btn> 
					</q-card-actions>
					</q-form>
				</q-card>
			</q-dialog>
			
			<q-dialog ref="exportTopic" th:with="viewMode='edit'" >
				<q-card>
					<q-form method="post" action="_exportTopicFile">
					<q-card-section>
						<div class="text-h6" th:text="#{popup.export.title}"></div>						
					</q-card-section>
									
					<q-card-section style="width: 400px;">
						<vu:include-data object="categoryList" field="'*'"/>
						<q-select
							clearable
							filled
							map-options
							emit-value
							v-model="vueData.selectionCatList"
							:options="transformListForSelection('categoryList', 'topCatId', 'label')"
							th:label="category"
							stack-label>
						</q-select>
					</q-card-section>
					<input type="hidden" name="vContext[selectionCatList]" :value="vueData.selectionCatList" />
					<q-card-actions align="around">
							<input type="hidden" name="CTX" :value="VertigoUi.vueData['CTX']">
							<q-btn flat th:label="#{action.cancel}" color="primary" v-close-popup ></q-btn>
							<q-btn type="submit" th:title="#{action.confirm}" th:label="#{action.confirm}" th:aria-label="#{action.confirm}" color="primary" v-close-popup></q-btn> 
					</q-card-actions>
					</q-form>
				</q-card>
			</q-dialog>
			
		</section>
	</body>
</html>