<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/detailLayout}" th:with="tab=informations, noNavigation=${model.modeCreate}"
	>
	
	<head>
		<title>Person detail</title>
		
		<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
		<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
		<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>			
	
			
	</head>
	
	<body>

		<div layout:fragment="content-header-title" id="baseTitle">
			<vu:include-data object="person" field="name" />
			<span class="text-bigger">{{vueData.person.name}}</span> <br />
		</div>

		<section layout:fragment="content-header-actions">
			<vu:button-link th:if="${model.modeEdit}" url="@{/person/{id}(id=${model.person.perId})}" ariaLabel="Cancel" icon="fas fa-ban"
							class="on-left text-accent-inverted" :round size="lg" color="primary" :flat />
			<vu:button-submit th:if="${model.modeReadOnly}" action="@{_edit}" ariaLabel="Edit" icon="edit"
							class="on-left" :round size="lg" color="primary" />
			<q-btn th:if="${model.modeReadOnly and !model.isSameUser }" @click="componentStates.showPopup = true" aria-label="Delete" title="Delete" icon="delete"
							class="on-left" round size="lg" color="red" ></q-btn>
		</section>
		<div layout:fragment="content-header-tabs">
		</div>	
		<section layout:fragment="content">
	
			<vu:popup object="person" action="_delete" vModel="showPopup"></vu:popup>
	
			<vu:block id="identity" title="Person identity">
				<vu:text-field object="person" field="name" readonly="${model.modeCreate || model.modeReadOnly}"/>
				<vu:select object="person" field="rolCd" list="roles" valueField="rolCd" labelField="label"/>

			</vu:block>
			
			<q-page-sticky position="bottom-right">
				<vu:button-submit th:if="${!model.modeReadOnly}" icon="save" label="Save" action="@{_save}" size="lg" color="primary" /> 
			</q-page-sticky>
		</section>
		
	</body>
</html>