<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/basicLayout}"
	>
	
	<head>
		<title th:text="#{personList.title}">Person list</title>
	</head>
	
	<body>
		<section layout:fragment="content">
			<vu:include-data-primitive key="connectedPersonId" />
			<vu:popup-ajax th:message="#{person.popup.message}" action="_delete" vModel="showPopup" th:confirm="#{action.delete}" dataName="perId"></vu:popup-ajax>
			<vu:table list="persons" componentId="personsTable">
				<vu:slot name="actions_slot">
					<q-btn v-if="vueData.connectedPersonId !== props.row.perId" class="on-right" round color="red" icon="delete" th:aria-label="#{action.delete}" th:title="#{action.delete}"
						   @click="componentStates.perId = props.row.perId; componentStates.showPopup = true"></q-btn>
				</vu:slot>
				<vu:include-data object="persons" field="perId" />
				<vu:column field="login" sortable="true" />
				<vu:column field="name" sortable="true" />
				<vu:column field="rolCd" sortable="true" />
			</vu:table>
		</section>
		
	</body>
</html>