version: '3.5'

# docker-compose example file
#
# Passwords / API key can be, for example, generated locally with :
#   < /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c${1:-32};echo;

services:
  postgres:
    image: postgres:12.1
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_PASSWORD: changeit
    volumes:
      - cf_postgres_data:/var/lib/postgresql/data/pgdata
      - ./initSql/:/docker-entrypoint-initdb.d/
      - ./backup/postgres:/opt/backup
    ports:
      - "5432:5432" 
    networks:
      - cb_factory
    restart: unless-stopped
  

  influxdb:
    image: influxdb:2.1.1
    volumes:
      - cf_influxdb_data:/var/lib/influxdb
      - cf_influxdb2_data:/var/lib/influxdb2
      - cf_influxdb2_config:/etc/influxdb2
	  - ./backup/influxdb:/opt/backup
    environment:
      DOCKER_INFLUXDB_INIT_MODE: upgrade
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: changeme
      DOCKER_INFLUXDB_INIT_ORG: chatbot
      DOCKER_INFLUXDB_INIT_BUCKET: admin
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: influxDevToken
    ports: 
      - "8086:8086"
    networks:
      - cb_factory
    restart: unless-stopped


  analytica:
    image: vertigoio/vertigo-analytics-server:0.12.0
    environment:
      INFLUXDB_URL: http://influxdb:8086
      INFLUXDB_ORG: chatbot
      INFLUXDB_TOKEN: influxDevToken
    depends_on:
      - influxdb
#    ports:
#      - "4562:4562"
    networks:
      - cb_factory
    restart: unless-stopped
  
  designer:
    image: vertigoio/bot-factory-designer:0.4.0
    environment:
      - JAVA_OPTS=-Xmx512m -Xms512m
      - DB_URL=//postgres:5432/chatbot
      - ANALYTICA_HOST=analytica
      - ANALYTICA_PORT=4562
      - INFLUXDB_URL=http://influxdb:8086
      - ANALYTICA_DBNAME=chatbot
      - DEPLOY_PATH=designer
	  - INFLUXDB_TOKEN=influxDevToken
    volumes:
      - ./keycloak.json:/opt/keycloak/keycloak.json:ro
    depends_on:
      - postgres
      - influxdb
      - analytica
    ports:
      - '127.0.0.1:8080:8080'
    networks:
      - cb_factory
    restart: unless-stopped
      
  runner_1:
    image: vertigoio/bot-factory-runner:0.4.0
    environment:
      - DESIGNER_URL=http://designer:8080/designer/
      - ANALYTICA_HOST=analytica
      - ANALYTICA_PORT=4562
      - ANALYTICA_DBNAME=chatbot
      - API_KEY=changeit
    depends_on:
      - influxdb
      - analytica
    ports:
      - '127.0.0.1:8181:8080'
    volumes:
      - cf_runner_1_data:/opt/data
    networks:
      - cb_factory
    restart: unless-stopped

  runner_2:
    image: vertigoio/bot-factory-runner:0.4.0
    environment:
      - DESIGNER_URL=http://designer:8080/designer/
      - ANALYTICA_HOST=analytica
      - ANALYTICA_PORT=4562
      - ANALYTICA_DBNAME=chatbot
      - API_KEY=changeit
    depends_on:
      - influxdb
      - analytica
    ports:
      - '127.0.0.1:8182:8080'
    volumes:
      - cf_runner_2_data:/opt/data
    networks:
      - cb_factory
    restart: unless-stopped


volumes:
  cf_postgres_data:
  cf_influxdb_data:
  cf_influxdb2_data:
  cf_influxdb2_config:
  cf_runner_1_data:
  cf_runner_2_data:
    
networks:
  cb_factory:
  