<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/detailLayout}">
  
	<div layout:fragment="content-header-left" id="baseImg">
 		<img th:src="@{/botHeader/{id}/avatar(id=${model.bot.botId})}" class="detailImg" />
	</div>
	<div layout:fragment="content-header-title" id="baseTitle">
		<vu:include-data object="bot" field="name" />
		<span class="text-bigger">{{vueData.bot.name}}</span> <br />
	</div>

	<div layout:fragment="content-header-tabs">
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'informations'} ? 'active' : ''" flat label="Informations" url="@{/bot/{id}(id=${model.bot.botId})}" />
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'smallTalks'} ? 'active' : ''" flat label="Small talks" url="@{/bot/{id}/smallTalks/(id=${model.bot.botId})}" />
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'models'} ? 'active' : ''" flat label="Models" url="@{/bot/{id}/models/(id=${model.bot.botId})}" />
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'users'} ? 'active' : ''" flat label="Users" url="@{/bot/{id}/personChatbot/(id=${model.bot.botId})}" />
	</div>
</html>