<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/detailLayout}">
  
	<div layout:fragment="content-header-left" id="baseImg">
 		<img th:src="@{/botHeader/{id}/avatar(id=${model.bot.botId})}" class="detailImg" />
	</div>
	<div layout:fragment="content-header-title" id="baseTitle">
		<vu:include-data object="bot" field="name" />
		<span class="text-bigger">{{vueData.bot.name}}</span> <br />
	</div>

	<div layout:fragment="content-header-tabs">
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'informations'} ? 'active' : ''" 	flat th:label="#{layout.information}"	url="@{/bot/{id}(id=${model.bot.botId})}" />
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'topics'} ? 'active' : ''" 			flat label="Topics" 					url="@{/bot/{id}/topics/(id=${model.bot.botId})}" />
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'categories'} ? 'active' : ''" 		flat label="Categories" 				url="@{/bot/{id}/categories/(id=${model.bot.botId})}" />
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'dictionary'} ? 'active' : ''" 		flat label="#{layout.dictionary}" 		url="@{/bot/{id}/dictionary/(id=${model.bot.botId})}" 		th:if="${model.userAuthorizations[AtzChatbot$botAdm]}"/>
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'models'} ? 'active' : ''" 			flat th:label="#{layout.model}" 		url="@{/bot/{id}/models/(id=${model.bot.botId})}" />
		<vu:button-link disabled="${noNavigation == true}" class="${tab == 'users'} ? 'active' : ''" 			flat th:label="#{layout.profil}" 		url="@{/bot/{id}/personChatbot/(id=${model.bot.botId})}" 	th:if="${model.userAuthorizations[AtzChatbot$botAdm]}"/>
	</div>
	
		<section layout:fragment="informations"></section>
</html>