<!DOCTYPE html>
<html
		xmlns:vu="http://www.morphbit.com/thymeleaf/component"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{templates/basicLayout}">
  
	<section layout:fragment="page-header">
		<q-toolbar class="bg-secondary">
			<div  class="col" style="display:flex;">
				<div layout:fragment="content-header-left"></div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="q-ml-md" style="align-items: center; display: flex">
					<div class="row col">
						<div class="detailTitle self-center justify-start" layout:fragment="content-header-title"></div>
					</div>
				</div>
				<div class="text-dark self-center justify-center" style="flex-grow: 2; align-items: center">
					<div layout:fragment="content-header-infos"></div>
				</div>
				<div  style="align-items: center; display: flex">
					<div class="self-center ne-mini justify-end col" layout:fragment="content-header-actions"></div>
				</div>
			</div>
		</q-toolbar>
	</section>
	
  	<section layout:fragment="page-content">
  		<div>
			<q-btn flat round dense class="lt-md"
				   @click="$refs.menuDrawer.toggle()" icon="menu" aria-label="Toggle menu on left side"></q-btn>
			<q-drawer show-if-above side="left" bordered :mini="false" ref="menuDrawer">
				<nav>
					<q-list class="column items-stretch" style="height:100%">
						<section layout:fragment="content-nav"></section>
					</q-list>
				</nav>
			</q-drawer>
		</div>
		<div class="col content-body">
			<vu:messages/>
			<div class="col-12">
				<div class="row self-center ne-mini justify-end col">
					<vu:form>
						<div class="primary" layout:fragment="content-actions"></div>
					</vu:form>
				</div>
			</div>
			<vu:form>
				<section layout:fragment="content" class="q-col-gutter-md q-mt-auto"></section>
	 		</vu:form>
 		</div>
		<section layout:fragment="content-bot-drawer" ></section>
	</section>
</html>