<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/basicLayout}">
  
  	<head>
		<script th:src="@{/vertigo-ui/static/js/v-components/v-minify.js}"></script>

		<script th:src="@{/vertigo-ui/static/js/v-components/v-scroll-spy.js}" th:if="${nav}"></script>
	</head>
	
	
	
	<section layout:fragment="page-header">
  		<section th:ref="detailHeader" class="col-12" v-minify="{topOffsetEl:'.q-header', leftOffsetEl:'.q-drawer--left'}">
			<div th:ref="maxiHeader" class="row justify-between items-center bg-secondary header-content" >
				<div layout:fragment="content-header-left"></div>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="col column ">				
					<div class="row col">
						<div class="detailTitle q-px-md self-center  text-secondary-inverted" layout:fragment="content-header-title"></div>
						<div class="col self-end bg-accent header-tabs text-accent-inverted eq-mini gt-md" layout:fragment="content-header-tabs"></div>
						<div class="row self-center ne-mini justify-end col">
							<vu:form>
								<div class="primary" layout:fragment="content-header-actions"></div>
							</vu:form>
						</div>
					</div>
					<div class="row bg-accent text-accent-inverted items-end header-tabs ne-mini" layout:fragment="content-header-tabs"></div>
				</div>
			</div>
			<div class="bg-secondary mini" th:insert="~{:: maxiHeader}"/>
		</section>
	</section>
	
  	<section layout:fragment="page-content">
  		<div class="col-2 gt-md" th:if="${nav}">
			<nav v-scroll-spy="{offset:54+50, padding:20}">
			    <q-list link class="column items-stretch" style="height:100%">
			    	<section layout:fragment="content-nav"></section>
			    </q-list>
	        </nav>
		</div>
		<div class="col content-body ">
			<vu:form>
	 			<vu:messages/>
				<section layout:fragment="content" class="q-col-gutter-md"></section>
	 		</vu:form>
 		</div>
	</section>
</html>