<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Vertigo chatbot designer"/>
    <meta name="author" content="Klee Group"/>
    
    <link rel="stylesheet" th:href="@{/static/css/designer.css}"/>
    
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
	
</head>

<body class="mat desktop no-touch platform-mat">

	<vu:page>
	
      <q-layout view="hHh LpR fff" id="page" v-cloak>
			<!-- BEGIN HEADER-->
			<q-layout-header class="items-center">
				<q-toolbar class="justify-between">
					<div class="row">
						<q-btn flat round dense class="lt-lg"
						th:with="showLeft=${model.vContext['componentStates'].addComponentState('navDrawer').addPrimitive('showLeft', true)}, mini=${model.vContext['componentStates']['navDrawer'].addPrimitive('mini', false)}"
						@click="componentStates.navDrawer.showLeft = !componentStates.navDrawer.showLeft" icon="menu" aria-label="Toggle menu on left side"></q-btn>
						<q-toolbar-title class="gt-md">
							Chatbot designer
							<span slot="subtitle">Build the bot you always wanted</span>
						</q-toolbar-title>
					</div>
				</q-toolbar>
			</q-layout-header>
        	<!-- END HEADER-->
        			
  			
  			<q-layout-drawer
  			  content-class="bg-white text-primary"
		      side="left"
		      :mini="function() {var miniMenu = this.$cookies.get('miniMenu', true) === 'true';componentStates.navDrawer.mini = miniMenu;return miniMenu;}()"
		      v-model="componentStates.navDrawer.showLeft">
		      
		      <q-list link :class="{'dense-list-header':!componentStates.navDrawer.mini}" style="height:100%">
		      <nav class="text-no-wrap">
		      
		      	<q-list-header>Home</q-list-header>
		      	
		        <q-item tag="a" th:href="@{/intents/}">
		          <q-item-main label="Intents"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{/models/}">
		          <q-item-main label="Models"></q-item-main>
		        </q-item>
		        <q-item-separator></q-item-separator>
		        
		        
		        <q-item v-if="componentStates.navDrawer.mini"
						@click.native="componentStates.navDrawer.mini = false; $cookies.set('miniMenu', false)" title="Expand menu">
					<q-item-side icon="arrow_right"></q-item-side>
				</q-item>
				 <q-item v-if="!componentStates.navDrawer.mini"
						@click.native="componentStates.navDrawer.mini = true; $cookies.set('miniMenu', true)" title="Minify menu">
					<q-item-main></q-item-main><q-item-side icon="arrow_left" right></q-item-side>
				</q-item>
		        </nav>
		        </q-list>
		        
		    </q-layout-drawer>
		    
			<q-page-container class="row justify-center q-pb-lg" >
				<q-page class="row col-12 mgutter-md layout-padding">
					<section class="col container-bottom-padding" layout:fragment="page-container"></section>
				</q-page>
			</q-page-container>
			
			<div class="fixed-bottom-right version-watermark non-selectable">
    			<div class="row items-center">
					v0.1.0
				</div>
  			</div>
  			
		</q-layout>
		
	</vu:page>
	<div layout:fragment="javscript-footer">
	</div>
			
</body>
</html>