<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
	  layout:decorate="~{templates/rootLayout}">

	<section layout:fragment="page">
	
	     <q-layout view="hHh LpR fff" id="page" v-cloak>
			<!-- BEGIN HEADER-->
			<q-header elevated>
				<q-toolbar>
					<div class="row items-center">
						<a class="q-link text-weight-bold q-layout__section--marginal" th:href="@{/bots/}">
							<q-toolbar-title>
							<div th:text="#{parent.title}"></div>
						</q-toolbar-title>
						</a>
					</div>
					<div class="col q-mx-xl" style="display: flex; justify-content: center">
						<div class="row">
							<div class="q-mr-lg q-my-sm q-link q-layout__section--marginal cursor-pointer text-uppercase" @click="hideOrShowBotToolbar()">
								<span th:text="#{parent.platform}"></span>
								<q-icon name="expand_more"></q-icon>
							</div>
							<a class="q-mr-lg q-my-sm q-link q-layout__section--marginal text-uppercase" th:href="@{/persons/}" th:if="${model.userAuthorizations[AtzSuperAdm]}">
								<span th:text="#{parent.users}"></span>
							</a>
							<a class="q-mr-lg q-my-sm q-link q-layout__section--marginal text-uppercase" th:href="@{/monitoring/}">
								<span th:text="#{parent.monitoring}"></span>
							</a>
						</div>
					</div>
					<div class="q-pa-md">
						<q-btn-dropdown v-if="VertigoUi.vueData.locale" color="primary" icon="language" th:label="#{parent.language}">
							<q-list>
								<!-- one item by language -->
								<q-item clickable v-close-popup @click="postChangeLocal('fr_FR')">
									<q-item-section>
										<q-item-label th:text="#{parent.language.french}"></q-item-label>
									</q-item-section>
								</q-item>

								<q-item clickable v-close-popup @click="postChangeLocal('en_US')">
									<q-item-section>
										<q-item-label th:text="#{parent.language.english}"></q-item-label>
									</q-item-section>
								</q-item>
							</q-list>
						</q-btn-dropdown>
					</div>
					<div>
						<vu:include-data-primitive key="personName" />
						<q-btn-dropdown color="primary" icon="mdi-account" th:label="${model.personName}">
							<q-list>
								<q-item clickable v-close-popup >
									<q-btn  type="a" color="grey" icon="mdi-reload" round th:aria-label="#{action.reload}" th:href="@{/login/_reloadAuthorizations}" >
										<q-tooltip content-style="font-size: 14px" th:text="#{parent.auth}"></q-tooltip>
									</q-btn>
								</q-item>
								<q-item clickable v-close-popup>
									<q-btn type="a" color="grey" icon="mdi-lan-disconnect" round th:aria-label="#{action.disconnect}" th:href="@{/OIDC/logout}" >
										<q-tooltip content-style="font-size: 14px" th:text="#{action.logout}"></q-tooltip>
									</q-btn>
								</q-item>
							</q-list>
						</q-btn-dropdown>
					</div>
				</q-toolbar>
				<div id="toolBarBots" class="hidden toolbar-bot-card">
					<q-toolbar>
						<vu:include-data object="bots" field="'*'"/>
						<q-card v-for="bot in vueData.bots" style="height: 100px; width: 100px" class="q-ma-sm card-toolbar">
							<a th::href="|'@{/bot/}'+bot.botId|" class="nav">
								<div class="row q-pt-md" style="justify-content: center">
									<img class="card-img-scrollbar" th::src="|'@{/bot/}'+bot.botId+'/avatar'|" style="width: 50%; height: 50%"/>
								</div>
								<div class="row" >
									<div class="col ellipsis text-center text-grey" >
										<span class="text-primary small-caps">{{bot.name}}</span>
									</div>
								</div>
							</a>
						</q-card>
					</q-toolbar>
				</div>
				<section layout:fragment="page-header"></section>
			</q-header>
	       	<!-- END HEADER-->


			<q-page-container class="row justify-center" >
				<section class="col" layout:fragment="page-container"></section>
			</q-page-container>
			
			<div class="fixed-bottom-right version-watermark non-selectable">
				<vu:include-data-primitive key="versionNumber" />
	   			<div class="row items-center">
					{{vueData.versionNumber}}
				</div>
	 		</div>
	 			
		</q-layout>
		
	</section>
</html>
