<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/rootLayout}">

	<section layout:fragment="page">
	
	     <q-layout view="hHh LpR fff" id="page" v-cloak>
			<!-- BEGIN HEADER-->
			<q-header elevated>
				<q-toolbar>
					<div class="row items-center">
						<q-btn flat round dense class="lt-md"
						@click="$refs.menuDrawer.toggle()" icon="menu" aria-label="Toggle menu on left side"></q-btn>
						<q-toolbar-title>
							<div>Chatbot designer</div>
							<div class="text-subtitle2">Build the bot you always wanted</div>
						</q-toolbar-title>
					</div>
				</q-toolbar>
			</q-header>
	       	<!-- END HEADER-->
	       			
	 			
	 		<q-drawer
	 			  th:with="mini=${model.vContext['componentStates'].addComponentState('navDrawer').addPrimitive('mini', true)}"
	 			  content-class="bg-white text-primary"
			      side="left"
			      ref="menuDrawer"
			      show-if-above
			      elevated
			      width="200"
			      breakpoint="1006"
			      
			      :mini="$q.screen.lt.lg && componentStates.navDrawer.mini"
		          @mouseover="componentStates.navDrawer.mini = false"
		          @mouseout="componentStates.navDrawer.mini = true"
		          :mini-to-overlay="$q.screen.lt.lg"
			    >
		      
		      <nav class="text-no-wrap">
		       <q-list :class="{'dense-list-header':!componentStates.navDrawer.mini}" style="height:100%">
		      
		        <q-item tag="a" th:href="@{/bots/}">
		          <q-item-section avatar>
			        <q-icon name="fas fa-robot"></q-icon>
			      </q-item-section>
		          <q-item-section>Bots</q-item-section>
		        </q-item>
		        
		        <q-item tag="a"  th:href="@{/analytics/}">
		          <q-item-section avatar>
			        <q-icon name="fas fa-chart-bar"></q-icon>
			      </q-item-section>
		          <q-item-section>Statistics</q-item-section>
		        </q-item>
					
		       </q-list>
		      </nav>
		        
		    </q-drawer>
		    
			<q-page-container class="row justify-center" >
				<section class="col container-bottom-padding" layout:fragment="page-container"></section>
			</q-page-container>
			
			<div class="fixed-bottom-right version-watermark non-selectable">
	   			<div class="row items-center">
					v0.1.0
				</div>
	 			</div>
	 			
		</q-layout>
		
	</section>
</html>
