<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Vertigo chatbot designer"/>
    <meta name="author" content="Klee Group"/>
    
    <link rel="stylesheet" th:href="@{/static/css/designer.css}"/>
    
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
	<script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
	<script type="text/javascript" th:src="@{/vertigo-ui/static/js/vertigo-ui-extensions.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/designer.js}"></script>
</head>

<body class="mat platform-mat">

	<vu:page>
     	<section class="col container-bottom-padding" layout:fragment="page">
     	</section>
	</vu:page>

	<script>
		let oldHttpPostAjax = VUiPage.httpPostAjax;
		VUiPage.httpPostAjax = function (url, params, options) {
			let paramsResolved;
			if (params instanceof FormData) {
				paramsResolved = params;
			} else {
				paramsResolved = new FormData();
				for (const [key, value] of Object.entries(params)) {
					paramsResolved.append(key, value);
				}
			}
			oldHttpPostAjax(url, paramsResolved, options);
		}
	</script>
	
	<div layout:fragment="javascript-footer">
	</div>
	
			
</body>
</html>